table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .row{
    width: 100%;
      margin: -1%;
  }

  .containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}

.main{
 background-color: white;
 padding: 1%;
}
.selectcls{
  width: 50%;
}
