
<div class="row px-3" >
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Add Smart-Meter</h3>
            <hr>
         </div>
  
         <div class="form_holder p-3">
           <div class="row">
             <div class="col-md-3">
              <mat-form-field appearance="outline" id="hub">
                <mat-label>Configration</mat-label>
                <mat-select placeholder="" [(ngModel)]="config"  name="config">
                
                  <mat-option  value="1"  >Single Phase</mat-option>
                  <mat-option  value="3" >Three Phase</mat-option>

                </mat-select>
              </mat-form-field>
             </div>
             <div class="col-md-3" *ngIf="version == 2">
              <mat-form-field appearance="outline">
                <mat-label>Meter Type</mat-label>
                <mat-select placeholder="metertype" [(ngModel)]="metertype" name="metertype">
                  <mat-option  value="EM368" >EM368</mat-option>
                  <mat-option  value="EM1320" >EM1320</mat-option>
              
                </mat-select>
            </mat-form-field>
             </div>
             <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="name" name="name" placeholder="name">
                <mat-hint>Name</mat-hint>
              </mat-form-field>
             </div>
             <div class="col-md-3">
              <mat-form-field appearance="outline">
                <mat-label>Address No</mat-label>
                <input matInput [(ngModel)]="address" name="address" placeholder="Number">
                <mat-hint>Address No</mat-hint>
              </mat-form-field>
             </div>

           </div>
           

                         
                  
           <div class="row justify-content-center align-items-center gap-1 my-2">
            <button type="button" class="btn btn-primary" (click)="onsubmit()">Submit</button>

            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
           </div>

                        
                     
                </div>
            </div>
         </div>
      
           
       
           
       
    
  
  
  