
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">

            <h3>Health Dashoard</h3>
            <hr>
         </div>

         <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" id="filter">
              <mat-label>Filter</mat-label>
              <mat-select [(ngModel)]="filter"  name="filter"  > 
              <!-- (selectionChange)="dofilteran(filter)" -->
                <mat-option  value="zone"  >Zone</mat-option>
                <mat-option  value="state" >State</mat-option>
                <mat-option  value="city"  >City</mat-option>        
              </mat-select>
            </mat-form-field>
    
            <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
    
    
          
              
              
    
                          
          </div>

          <div class="col-md-4" *ngIf="filter == 'zone'">
                 
            <mat-form-field appearance="outline" >
              <mat-label>Zone</mat-label>
              <mat-select  [(ngModel)]="zone"  name="zone">
              
                <mat-option *ngFor="let l of zones"  value="{{l.zone_name}}"  >{{l.zone_name}}</mat-option>
  
              </mat-select>
            </mat-form-field>
                
            </div>
            
         <div class="col-md-4" *ngIf="filter == 'state'">
               
                   
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select  [(ngModel)]="state"  name="state">
                  
                    <mat-option *ngFor="let l of states"  value="{{l.state_id}}"  >{{l.name}}</mat-option>
      
                  </mat-select>
                </mat-form-field>
         </div>
            
            
         <div class="col-md-4" *ngIf="filter == 'city'">
                    <mat-form-field appearance="outline" >
                        <mat-label>City</mat-label>
                        <mat-select  [(ngModel)]="city"  name="city">
                        
                          <mat-option *ngFor="let l of citys"  value="{{l.city_id}}"  >{{l.name}}</mat-option>
            
                        </mat-select>
                      </mat-form-field>
                     
                        
         </div>


          </div>
          <div class="row justify-content-center gap-1 my-3">
            <button type="button" *ngIf="filter != ''" class="btn btn-primary" (click)="onsubmit()">Submit</button>
            <button (click)="reset()" class="btn btn-light">Reset</button>
  
           </div>
  
        <div class="main my-3">

            <div>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Location</th>
                      <th scope="col">Router</th>
                      <th scope="col">Wired Controller</th>
                      <th scope="col">Video Gateway</th>            
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let da of healthdata;let i = index;">
                      <th scope="row">
                         <span><b>{{da.location_name}}</b></span>
                        <br>
                        <span>{{da.zone_name}}</span>
                        <br>
                        <span>City : {{da.city}}, State:{{da.state}}</span>
                      </th>
                      <td>
                          <div *ngFor="let r of da.routers;">
                            <span *ngIf="r.router_info.is_online == false" class="reddot"></span>
                            <span *ngIf="r.router_info.is_online == undefined" class="reddot"></span>
                            <span *ngIf="r.router_info.is_online == true" class="greendot"></span> 
                            <a target="_blank" [routerLink]="['/kochar/Devices/openrouter',r.mac_id]">{{r.mac_id}}</a>
                     
                              <!-- <span (click)="router_route(r.mac_id)">{{r.mac_id}}</span> -->
                                <br>
                              <span (click)="detailsRouer(r.router_info.mode,r.router_info.version,r.router_info.meminfo,r.router_info.uptime,r.router_info.loadaverage)"><b>Details</b></span>

                          </div>
                      </td>
                      <td>
                        <div *ngFor="let r of da.iot_gateways;">
                            <span *ngIf="r.is_online == false" class="reddot"></span>
                            <span *ngIf="r.is_online == true" class="greendot"></span> 
                     
                            <!-- <span (click)="IN_route(r.mac_id)">{{r.mac_id}}</span> -->
                            
                            <a target="_blank" [routerLink]="['/kochar/Devices/singleGatewayList',r.mac_id,r.client]">{{r.mac_id}}</a>

                              <br>
                              <span (click)="detailsIN(r.status,r.mode,r.keypad_status)"><b>Details</b></span>


                        </div>
                      </td>
                      <td>
                        <div *ngFor="let r of da.video_gateway;">
                            <span *ngIf="r.is_online == false" class="reddot"></span>
                            <span *ngIf="r.is_online == true" class="greendot"></span> 
                     
                            <span>NVR Status</span>
                              <br>
                              <span (click)="detailsVideo(r.cameras)"><b>Details</b></span>


                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          

        </div>
  
    </div>
    
  </div>
  
  
  
  