table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }



  .containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}

.main{
    background: white;
}
.lclass{
    margin-bottom: 2%;
    padding: 0%;
    border: 1px solid;
    border-color: #d6d0cb;
}
.rowcls{
  width: 120%;
  pad: 1%;
}


.reddot {
  height: 10px;
  width: 10px;
  background-color: rgb(226, 21, 21);
  border-radius: 50%;
  margin: 3%;
  display: inline-block;
}


.greendot {
  height: 10px;
  width: 10px;
  background-color: rgb(50, 240, 12);
  border-radius: 50%;
  margin: 3%;
  display: inline-block;
}