
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">

            <h3>Health Dashoard</h3>
            <hr>
         </div>

         <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline" id="filter">
              <mat-label>Filter</mat-label>
              <mat-select [(ngModel)]="filter"  name="filter"  > 
                <mat-option  value="zone"  >Zone</mat-option>
                <mat-option  value="state" >State</mat-option>
                <mat-option  value="city"  >City</mat-option>        
              </mat-select>
            </mat-form-field>
    
            <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
    
    
          
              
              
    
                          
          </div>

          <div class="col-md-4" *ngIf="filter == 'zone'">
                 
            <mat-form-field appearance="outline" >
              <mat-label>Zone</mat-label>
              <mat-select  [(ngModel)]="zone"  name="zone">
              
                <mat-option *ngFor="let l of zones"  value="{{l.zone_name}}"  >{{l.zone_name}}</mat-option>
  
              </mat-select>
            </mat-form-field>
                
            </div>
            
         <div class="col-md-4" *ngIf="filter == 'state'">
               
                   
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select  [(ngModel)]="state"  name="state">
                  
                    <mat-option *ngFor="let l of states"  value="{{l.state_id}}"  >{{l.name}}</mat-option>
      
                  </mat-select>
                </mat-form-field>
         </div>
            
            
         <div class="col-md-4" *ngIf="filter == 'city'">
                    <mat-form-field appearance="outline" >
                        <mat-label>City</mat-label>
                        <mat-select  [(ngModel)]="city"  name="city">
                        
                          <mat-option *ngFor="let l of citys"  value="{{l.city_id}}"  >{{l.name}}</mat-option>
            
                        </mat-select>
                      </mat-form-field>
                     
                        
         </div>


          </div>
          <div class="row justify-content-center gap-1 my-3">
            <button type="button" *ngIf="filter != ''" class="btn btn-primary" (click)="onsubmit()">Submit</button>
            <button (click)="reset()" class="btn btn-light">Reset</button>
  
           </div>
  
        <div class="main my-3">



                 
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
              <td mat-cell *matCellDef="let row; let j = index"> 
                        <span><b>{{row.location_name}}</b></span>
                        <br>
                        <span>{{row.zone_name}}</span>
                        <br>
                        <span>City : {{row.city}}, State:{{row.state}}</span>
               </td>
            
            </ng-container>
        
           
            <ng-container matColumnDef="router">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Router </th>
              <td mat-cell *matCellDef="let row; let j = index"> 

                <div *ngFor="let r of row.routers;">
                  <span *ngIf="r.router_info.is_online == false" class="reddot"></span>
                  <span *ngIf="r.router_info.is_online == undefined" class="reddot"></span>
                  <span *ngIf="r.router_info.is_online == true" class="greendot"></span> 
                  <a target="_blank" [routerLink]="['/kochar/Devices/openrouter',r.mac_id]">{{r.mac_id}}</a>
           
                      <br>
                    <span (click)="detailsRouer(r.router_info.mode,r.router_info.version,r.router_info.meminfo,r.router_info.uptime,r.router_info.loadaverage)"><b>Details</b></span>

                </div>
              </td>
            
            </ng-container>

            <ng-container matColumnDef="wired">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Wired Controller </th>
              <td mat-cell *matCellDef="let row; let j = index"> 
                <div *ngFor="let r of row.iot_gateways;">
                  <span *ngIf="r.is_online == false" class="reddot"></span>
                  <span *ngIf="r.is_online == true" class="greendot"></span> 
           
                  
                  <a target="_blank" [routerLink]="['/kochar/Devices/singleGatewayList',r.mac_id,r.client]">{{r.mac_id}}</a>

                    <br>
                    <span (click)="detailsIN(r.status,r.mode,r.keypad_status)"><b>Details</b></span>


              </div>  
              </td>
            
            </ng-container>

            <ng-container matColumnDef="video">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Video Gateway </th>
              <td mat-cell *matCellDef="let row; let j = index"> 
                
                <div *ngFor="let r of row.video_gateway;">
                  <span *ngIf="r.is_online == false" class="reddot"></span>
                  <span *ngIf="r.is_online == true" class="greendot"></span> 
           
                  <span>NVR Status</span>
                    <br>
                    <span (click)="detailsVideo(r.cameras)"><b>Details</b></span>


              </div>
            </td>
            
            </ng-container>
        

  
           
  
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    
          </table>
        
        </div>
          

        </div>
  
    </div>
    
  </div>
  
  
  
  