<div class="container">
  <div class="row">
    <div class="sub-heading col-md-12">
       
      <h3>Add Video Gateway</h3>
      <hr>
   </div>

   
  </div>

  <div class="w-100">
    <mat-tab-group dynamicHeight [selectedIndex]="selectedIndex">
              
  
      <mat-tab label="Select Brand"  >
        <div class="nor p-0 mx-0 my-2">
          <form  [formGroup]="formGroup1">
             <div class="row" id="row">
<div class="col-md-4">
  <mat-form-field appearance="outline">
    <mat-label>Select Brand</mat-label>
    <mat-select placeholder="Type" [(ngModel)]="brand" name="brand" required formControlName="brand">
      <mat-option  value="shinobi" >Shinobi</mat-option>
      <mat-option  value="hikvision" >Hikvision</mat-option>
      <mat-option  value="camera manager" >Camera Manager</mat-option>
      
    </mat-select>
    <mat-error *ngIf="formGroup1.get('brand').hasError('required')">
      Brand is Required!
    </mat-error>
</mat-form-field>
</div>
<div class="col-md-4" *ngIf="brand == 'hikvision'">
  <mat-label>Category</mat-label>
  <mat-radio-group aria-label="Category" [(ngModel)]="cat" name="cat" >
      <mat-radio-button value="nvr"> NVR </mat-radio-button>
      <mat-radio-button value="dvr"> DVR </mat-radio-button>
      <mat-radio-button value="xvr"> XVR </mat-radio-button>
    </mat-radio-group>
</div>
<div class="col-md-4" *ngIf="brand != 'camera manager'">
  <mat-form-field appearance="outline">
    <mat-label>HOST Address</mat-label>
    <input matInput [(ngModel)]="host_add" name="host_add" placeholder="Eg:'https://example.com'" required formControlName="host_add">
    <mat-error *ngIf="formGroup1.get('host_add').hasError('required')">
      Host is Required!
    </mat-error>
  </mat-form-field>
</div>
<div class="col-md-4" *ngIf="brand == 'hikvision'">
  <mat-form-field appearance="outline">
    <mat-label>RTSP PORT</mat-label>
    <input matInput [(ngModel)]="rtsp_port" name="rtsp_port" placeholder="554">
  </mat-form-field>
</div>

<div class="col-md-4"> <mat-form-field appearance="outline">
  <mat-label>Mac ID</mat-label>
  <input matInput [(ngModel)]="mac_id" name="mac_id" (keyup)="formatMAC(mac_id)" placeholder="00:00:00:00:00:00" required formControlName="mac_id">
  <mat-error *ngIf="formGroup1.get('mac_id').hasError('required')">
    Mac is Required!
  </mat-error>
</mat-form-field></div>


<div class="col-md-4" *ngIf="(brand == 'hikvision')&&((cat == 'xvr')||(cat == 'dvr'))">
  <mat-form-field appearance="outline">
    <mat-label>No of analog port</mat-label>
    <mat-select placeholder="analog_ports_count" [(ngModel)]="analog_ports_count" name="analog_ports_count">
      <mat-option  value="4" >4 Ports</mat-option>
      <mat-option  value="8" >8 Ports</mat-option>
      <mat-option  value="16" >16 Ports</mat-option>
      <mat-option  value="32" >32 Ports</mat-option>

      
    </mat-select>
</mat-form-field>
</div>
<div class="col-md-4">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" name="name" placeholder="Name" required formControlName="name">
    <mat-error *ngIf="formGroup1.get('name').hasError('required')">
      Name is Required!
    </mat-error>
  </mat-form-field>
</div>
<div class="col-md-4">
  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput [(ngModel)]="username" name="username" placeholder="Username" required formControlName="username">
    <mat-error *ngIf="formGroup1.get('username').hasError('required')">
      Username is Required!
    </mat-error>
  </mat-form-field>
</div>
<div class="col-md-4">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" name="password" placeholder="Password" required formControlName="password">
    <mat-error *ngIf="formGroup1.get('password').hasError('required')">
      Password is Required!
    </mat-error>
  </mat-form-field>
</div>
              
              </div>
            </form>
        </div>

        <button type="button" class="btn btn-primary" (click)="submit()" style="float: right;" [disabled]="!formGroup1.valid">Submit</button>
        <!-- <button type="button" class="btn btn-primary" (click)="previousStep()" style="float: right;">Previous</button> -->

      </mat-tab>

  

    </mat-tab-group>
     
 
  
    </div>

</div>




