<section class="px-3">

  <div class="row">
    <div class="containt">
        <div class="sub-heading">
         
            <h3>View Template</h3>
            <hr>
         </div>
  
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="outline">
        <mat-label>Template Name</mat-label>
        <input matInput [(ngModel)]="template_name"  name="template_name" placeholder="Template Name" [disabled]="!view">
       
      </mat-form-field>
    </div>
  </div>
      
      <div class="mat-elevation-z4 p-3 border-radius-2 my-4" *ngFor="let s of sensordata">
          <div class="row align-items-center " *ngIf="s.for_temperature == false">
            <div class="col-sm-2">
               
                <mat-form-field appearance="outline">
                  <mat-label>Port</mat-label>
                  <input matInput [(ngModel)]="s.port_number"  name="port" placeholder="0" [disabled]="!view">
                
                </mat-form-field>
              
            </div>

            <div class="col-sm-2">
              
                <mat-form-field appearance="outline">
                  <mat-label>Sensor Name</mat-label>
                  <input matInput [(ngModel)]="s.sensor_name" name="sname" placeholder="Sensor Name" [disabled]="!view">
                 
                </mat-form-field>
            
            </div>

            <div class="col-sm-2">

           
                  <mat-form-field appearance="outline">
                      <mat-label>Select Sensor</mat-label>
                      <mat-select placeholder="Type" [(ngModel)]="s.sensor_type" name="sel_sensor" [disabled]="!view">
                        <mat-option  value="panic sensor" >Panic Sensor</mat-option>
                        <mat-option  value="pri sensor" >PRI Sensor</mat-option>
                        <mat-option  value="smoke sensor" >Smoke Sensor</mat-option>
                        <mat-option  value="shutter sensor" >Shutter Contact Sensor</mat-option>
                        <mat-option  value="magnetic sensor" >Magnetic Contact Sensor</mat-option>
                        <mat-option  value="glassbreak sensor" >Glassbreak Sensor</mat-option>
                        <mat-option  value="thermal sensor" >Thermal Sensor</mat-option>
                        <mat-option  value="seismic sensor" >Seismic Sensor</mat-option>
                        <mat-option  value="vibration sensor" >Vibration Sensor</mat-option>

                      </mat-select>
                 
                  </mat-form-field>
               
          </div>


            <div class="col-sm-2">
           
                <mat-form-field appearance="outline">
                  <mat-label>Room Name</mat-label>
                  <input matInput [(ngModel)]="s.room_name" name="room" placeholder="Room Name" [disabled]="!view">
                   
                </mat-form-field>
            
            </div>

            <div class="col-sm-4">
                <mat-radio-group 
                  aria-labelledby="example-radio-group-label"
                  class="d-flex align-items-center"
                  [(ngModel)]="s.default_state" [disabled]="!view">
                  <mat-radio-button class="example-radio-button" [value]="0">
                    0 (Non Trigger)
                  </mat-radio-button>
                  <mat-radio-button class="example-radio-button" [value]="1">
                    1 (Trigger)
                  </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-sm-6">
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="d-flex align-items-center"
                [(ngModel)]="s.alarm_type" [disabled]="!view">
                <mat-radio-button class="example-radio-button" [value]="0">
                  0 (No Alarm In Arm Or Disarm Mode)
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="1">
                  1 (Alarm In Arm Mode)
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" [value]="2">
                  2 (Alarm In Arm & Disarm Mode)
                </mat-radio-button>
              </mat-radio-group>
          </div>
           
        </div>

        <div class="row align-items-center" *ngIf="s.for_temperature == true">
          <div class="col-sm-3">
            
              <mat-checkbox class="example-margin" [(ngModel)]="s.default_state" [disabled]="!view"> Enable {{s.sensor_name}} </mat-checkbox>
             
          </div>

          <div class="col-sm-3">
            
              <mat-form-field appearance="outline">
                <mat-label>Sensor Name</mat-label>
                <input matInput [(ngModel)]="s.sensor_name" name="sname" placeholder="Sensor Name" [disabled]="!view">
                 
              </mat-form-field>
            
          </div>

          <div class="col-sm-3">
            
              <mat-form-field appearance="outline">
                <mat-label>Sensor Type</mat-label>
                <input matInput [(ngModel)]="s.sensor_type" name="sensor_type" placeholder="Sensor Type" [disabled]="!view">
                 
              </mat-form-field>
            

          </div>


          <div class="col-sm-3">
            
              <mat-form-field appearance="outline">
                <mat-label>Room Name</mat-label>
                <input matInput [(ngModel)]="s.room_name" name="room" placeholder="Room Name" [disabled]="!view">
                
              </mat-form-field>
             
          </div>

         
      </div>
      </div>

</section>  


