
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">
       
            <h3>View Role Information</h3>
            <hr>
         </div>
  
         <div class="form_holder p-3">
            <div class="row "> 
              <div class="col-md-4">
                <mat-form-field appearance="outline" *ngIf="data != undefined">
                  <mat-label>Role Name</mat-label>
                  <input matInput placeholder="Role Name" [(ngModel)]="name" name="name" [disabled]="!disable">
                 
                </mat-form-field>
              </div>
                <div class="col-md-12">
                     
                          <div class="row align-items-center" *ngFor="let da of mapping;let i = index;">
                            <div class="col-sm-4 text-left">
                              {{da.modulename}}
                            </div>
                            <div class="col-sm-4">
                              <div *ngIf="da.submodulemapping == true">
                                <div class="row" *ngFor="let sa of da.submodulename">
                                     {{sa.submodule_name}}
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <p (click)="delete(i)">delete</p>
                            </div>
                           </div>

                           

                         
            
                    
                          
                          <!-- <button type="button" class="btn btn-primary" *ngIf="disable == true" (click) = "update()" >Update</button> -->
                    
                </div>
                 
            </div>

            <div class="row ">
              <div class="col-md-12 d-flex justify-content-between  listforswitchs" *ngFor="let da of featuresarr;">
                <div class="labelbox">  <mat-label class="text-left">{{da.feature_name}}</mat-label></div>

                <div class="actionchecks d-flex gap-1">
                <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Add" [disabled]="!disable"  (change)="check('add',$event.checked,da.feature_name,da.type)"   [checked]="da.add">Add </mat-checkbox>
                <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="View" [disabled]="!disable"  (change)="check('view',$event.checked,da.feature_name,da.type)" [checked]="da.view">View </mat-checkbox>
                <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Edit"  [disabled]="!disable" (change)="check('edit',$event.checked,da.feature_name,da.type)" [checked]="da.edit">Edit </mat-checkbox>
                <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Delete" [disabled]="!disable"  (change)="check('delete',$event.checked,da.feature_name,da.type)" [checked]="da.delete">Delete </mat-checkbox>
                <mat-checkbox *ngIf="da.type == 'button'" class="example-margin" name="Action"  [disabled]="!disable" (change)="check('action',$event.checked,da.feature_name,da.type)"[checked]="da.action">Action </mat-checkbox>
              </div>
              </div>
            </div>
         </div>
      
           
       
           
       
    </div>
    
  </div>
  
  
  
  