table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }



  .containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}

.main{
    background: white;
}


.reddot {
  height: 10px;
  width: 10px;
  background-color: rgb(226, 21, 21);
  border-radius: 50%;
  display: inline-block;
}


.greendot {
  height: 10px;
  width: 10px;
  background-color: rgb(50, 240, 12);
  border-radius: 50%;
  display: inline-block;
}



.row{
  width: 100%;
  margin: 0%;
}