
<div class="row">
  <div class="containt">
      <div class="sub-heading">
        <button type="button" class="btn btn-primary" (click)="addgatways()" style="float: right;">Add New gateways</button>
          <h3>IOT - Gateways</h3>
          <hr>
       </div>

      <div class="main">

        <div class="row" style="padding: 1%;width: 100%;">
          <div class="col-sm-12" *ngFor="let g of gateway, let i = index" style="margin-bottom: 2%;">
            
              <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
              <mat-panel-title>
             {{g.name}}
             <span *ngIf="g.is_online == false" class="reddot"></span>
             <span *ngIf="g.is_online == true" class="greendot"></span> 
            
              </mat-panel-title>
              <mat-panel-description>
                <a (click)="openDialog(g.mac_id,g.router_mac_id,g.router_number)" [disabled]="!command_setting">Command Settings</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <div *ngIf="g.mode == 1">
                <button type="button" class="btn btn-success" [disabled]="!arm" (click)="sendMessage('arm',0,g.mac_id)" style="font-size: 80%;">ARM</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn btn-primary" [disabled]="!disarm"  (click)="sendMessage('disarm',0,g.mac_id)" style="font-size: 80%;">DISARM</button>  
              </div>

              <div *ngIf="g.mode == 0">
                <button type="button" class="btn btn-primary" [disabled]="!arm" (click)="sendMessage('arm',0,g.mac_id)" style="font-size: 80%;">ARM</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn btn-success" [disabled]="!disarm"  (click)="sendMessage('disarm',0,g.mac_id)" style="font-size: 80%;">DISARM</button>  
              </div>
           

                <!-- <a (click)="edit(g.mac_id,g.client)">Edit</a> -->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a (click)="delete(g.mac_id,g.client)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-power-off" aria-hidden="true"  (click)="sendMessage('restartiotgateway','get',g.mac_id)"></i>

              </mat-panel-description>
              </mat-expansion-panel-header>
              
              <div class="row">
                  <div class="col-md-3"> {{g.mac_id}} - <span *ngIf="g.mode == 1">ARMED</span><span *ngIf="g.mode == 0">DISARMED</span></div>
                  <div class="col-md-3" *ngIf="g.configuration != 'IN-14'">
                    <div>
                      <span class="label label-primary tempclass">Temp 1</span>                    
                      <span class="label label-primary tempclass">Temp 2</span>  
                       &nbsp;
                      <i class="fa fa-refresh refreshcls pt-2" (click)="refreshtemp()"  aria-hidden="true"></i>   
                    </div>
                      <br>
                    <div *ngIf="temparray.length != 0">
                      <div *ngIf="temparray[i].length != 0">
                        <span class="naclass ml-2" *ngIf="g.devices[12].default_state == 1">{{temparray[i].temp1}}</span>
                        <span class="naclass ml-2" *ngIf="g.devices[12].default_state == 0">NA</span>

                        <span class="naclass ml-4" *ngIf="g.devices[13].default_state == 1">{{temparray[i].temp2}}</span> 
                        <span class="naclass ml-4" *ngIf="g.devices[13].default_state == 0">NA</span> 
                      </div> 
                      <div *ngIf="temparray[i].length == 0">
                        <span class="naclass ml-2">NA</span>
                        <span class="naclass ml-4">NA</span> 
                      </div> 
                    </div>
                    <div  *ngIf="temparray.length == 0">
                      <div>
                        <span class="naclass ml-2">NA</span>
                        <span class="naclass ml-4">NA</span> 
                      </div> 
                    </div>
                  
                  </div>

               
                    <div class="col-md-3" >
                      <button type="button" *ngIf="relay1ons == true" class="btn btn-success" [disabled]="!relay1on"  (click)="sendMessage('relay1',1,g.mac_id)" style="font-size: 60%;">{{g.relay1_name}} / ON</button>
                      <button type="button" *ngIf="relay1ons == false" class="btn btn-primary" [disabled]="!relay1on"  (click)="sendMessage('relay1',1,g.mac_id)" style="font-size: 60%;">{{g.relay1_name}} / ON</button>
                      
                      <button type="button" *ngIf="relay1offs == true" class="btn btn-success" [disabled]="!relay1off"  (click)="sendMessage('relay1',0,g.mac_id)" style="font-size: 60%;">{{g.relay1_name}} / OFF</button>
                      <button type="button" *ngIf="relay1offs == false"class="btn btn-primary" [disabled]="!relay1off"  (click)="sendMessage('relay1',0,g.mac_id)" style="font-size: 60%;">{{g.relay1_name}} / OFF</button>
                   
                    </div>

                    <div class="col-md-3" >
                      <button type="button" *ngIf="relay2ons == true" class="btn btn-success" [disabled]="!relay2on"  (click)="sendMessage('relay2',1,g.mac_id)" style="font-size: 60%;">{{g.relay2_name}}  / ON</button>
                      <button type="button" *ngIf="relay2ons == false"  class="btn btn-primary" [disabled]="!relay2on"  (click)="sendMessage('relay2',1,g.mac_id)" style="font-size: 60%;">{{g.relay2_name}}  / ON</button>
                     
                      <button type="button"  *ngIf="relay2offs == true" class="btn btn-success" [disabled]="!relay2off"  (click)="sendMessage('relay2',0,g.mac_id)" style="font-size: 60%;">{{g.relay2_name}}  / OFF</button>
                      <button type="button"  *ngIf="relay2offs == false" class="btn btn-primary" [disabled]="!relay2off"  (click)="sendMessage('relay2',0,g.mac_id)" style="font-size: 60%;">{{g.relay2_name}}  / OFF</button>
                      &nbsp;&nbsp;
                      <i class="fa fa-edit" (click)="editrelay(g)"></i>
                      &nbsp;&nbsp;
                      <i class="fa fa-refresh refreshcls pt-2" (click)="sendMessage('getrelaystatus','get',g.mac_id)"  aria-hidden="true"></i>   
                   
                     </div>  
              
              </div>

            
                 <hr> 
                 
                 <div class="row">
                  <div class="col-sm-3"> PORT NAME </div>

                  <div class="col-sm-3"> CURRENT STATUS </div>


                  <div class="col-sm-3"> SETTINGS </div>

                  <div class="col-sm-3"> 
                        <button type="button" class="btn btn-primary" [disabled]="!refresh"  (click)="sendMessage('refresh',0,g.mac_id)" style="font-size: 80%;">REFRESH</button>
                  </div>


                  </div>
                  <hr>

                  <div class="row" *ngFor="let p of g.devices">
                      <div class="col-sm-3">{{p.sensor_name}} </div>
  
              <div class="col-sm-3" *ngIf="p.for_temperature == false"> {{p.sensor_status}}  <span *ngIf="p.sensor_status == 0">(Non Triggered)</span> <span *ngIf="p.sensor_status == 1">(Triggered)</span> </div>

                      <div class="col-sm-3" *ngIf="(p.for_temperature == true)&&(p.default_state == 0)" > Disable </div>
                      <div class="col-sm-3" *ngIf="(p.for_temperature == true)&&(p.default_state == 1)"> Enable </div>

  
  
                      <div class="col-sm-3"> <a (click)="port_set(p)" style="color: blue;" [disabled]="!port_setting">Port Settings </a> </div>
  
                      <div class="col-sm-3"> 
                      </div>
  
                      <hr>
                      </div>

              </mat-expansion-panel>
              </mat-accordion>
          </div>
        </div>

    
      </div>

  </div>
  
</div>



