
<div class="row">
    <div class="containt">
        <div class="sub-heading">
         
            <h3>Modbus Details</h3>
            <hr>
         </div>
  
        <div class="main">

            <div class="row">

                <p style="color:rgb(0 126 255);">Command Settings</p>

            </div>

            <div class="row">

               <div class="col-sm-3">
                <p>#GGN Old Building</p>
                <p>C8:2B:96:A3:84:44</p>
                <br>
                <p>Gurgaon</p>
                <p>Gurgaon</p>
                <p>Gurgaon Haryana - 122018</p>
               </div>

               <div class="col-sm-6">
                   <div class="row">
                       <div class="col-sm-3"></div>
                       <div class="col-sm-3"></div>
                       <div class="col-sm-3"></div>
                       <div class="col-sm-3"></div>
                   </div>
               </div>
               
               <div class="col-sm-3">
                   <p>Last Ping Status : </p>
                   <p>Ping Count : </p>
                   <p>Address Range : 1 - 125</p>

               </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-sm-3">
                <h3>NCNO Ports</h3>
                </div>

                <div class="col-sm-3">
                </div>

                <div class="col-sm-3">
                    <h3>Temprature Ports</h3>
                </div>

                <div class="col-sm-3">
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3">
                  <mat-card>
                      <div><p>Port 1</p></div>
                      <hr>
                      <div>
                          <p>N/A</p>
                      </div>
                      <hr>
                      <div>
                          <p>Default 0 | Port NO.1 </p>
                      </div>
                  </mat-card>
                </div>
 
                <div class="col-sm-3">
                    <mat-card>
                        <div><p>Port 2</p></div>
                        <hr>
                        <div>
                            <p>N/A</p>
                        </div>
                        <hr>
                        <div>
                            <p>Default 0 | Port NO.2 </p>
                        </div>
                    </mat-card>
                </div>

                <div class="col-sm-3">
                    <mat-card>
                        <div><p>Temp 1</p></div>
                        <hr>
                        <div>
                            <p>RR.R C</p>
                        </div>
                        <hr>
                        <div>
                            <p>Default RR.R | Port NO.3 </p>
                        </div>
                    </mat-card>
                </div>
                
                <div class="col-sm-3">
                    <mat-card>
                        <div><p>Temp 2</p></div>
                        <hr>
                        <div>
                            <p>RR.R C</p>
                        </div>
                        <hr>
                        <div>
                            <p>Default RR.R | Port NO.4 </p>
                        </div>
                    </mat-card>
                </div>
 
             </div>

             <div class="row">

                <div class="col-sm-3">
                  <h3> Relays</h3>
                </div>
 
                <div class="col-sm-3">
                  
                </div>

                <div class="col-sm-3">
                    
                </div>
                
                <div class="col-sm-3">
                   
                </div>
 
             </div>

             <div class="row">

                <div class="col-sm-3">
                  <mat-card>
                      <div><p>Relay 1</p></div>
                      <hr>
                      <div>
                         ON/Off button
                      </div>
                      <hr>
                      <div>
                        <button>Get Status</button>
                    </div>
                  </mat-card>
                </div>
 
                <div class="col-sm-3">
                    <mat-card>
                        <div><p>Relay 2</p></div>
                        <hr>
                        <div>
                           ON/Off button
                        </div>
                        <hr>
                        <div>
                          <button>Get Status</button>
                      </div>
                    </mat-card>
                </div>

                <div class="col-sm-3">
                  
                </div>
                
                <div class="col-sm-3">
                   
                </div>
 
             </div>

        <div class="row">
            <div class="col-sm-3">
                <p>Smartmeters</p>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <div class="row">
        </div>


        </div>
  
    </div>
    
  </div>
  
  
  
  