
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Zone Information Details</h3>
            <hr>
         </div>
  
         <div class="form_holder">
            <div class="row p-3"> 
                <div class="col-sm-12">
                   <div class="grid-rowCols">
                     <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Zone Name</mat-label>
                          <input matInput placeholder="Zone Name" [disabled]="isDisabled"  [(ngModel)]="name" name="name">
                         
                        </mat-form-field>
                      </div>

                      <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Business User</mat-label>
                            <mat-select placeholder="User" [disabled]="isDisabled" [(ngModel)]="user_id" name="user_id">
                              <mat-option *ngFor="let u of business_user"  value="{{u._id}}" >{{u.name}}</mat-option>
                            </mat-select>
                         
                        </mat-form-field>
                      </div>
                   </div>
                     
                </div>
              
            </div>
         </div>
      
           
       
           
       
    </div>
    
  </div>
  
  
  
  