
<div class="row" >
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Assign User</h3>
            <hr>
         </div>
  
         <div class="form_holder">
            <div class="row" style="margin: 0%;">
                <div class="col-sm-12" style="font-size: 80%;">
                        <br>
                        <label>Select Gateway</label>
                        <p>
                        
                            <mat-form-field appearance="outline" id="hub">
                              <mat-label>Hub*</mat-label>
                              <mat-select placeholder="hub" [(ngModel)]="hub" name="hub">
                              
                                <!-- <mat-option *ngFor="let z of zones" value="{{z.name}}"  >{{z.name}}</mat-option> -->

                              </mat-select>
                            </mat-form-field>
                          </p>
                          <hr>
                          <label>Assign User</label>
                          <hr>

                      <div class="row">
                        <div class="col-sm-8">
                            <p>
                                <mat-form-field appearance="outline" id="level">
                                  <mat-label>Level*</mat-label>
                                  <mat-select placeholder="level" [(ngModel)]="level" name="level">
                                    <!-- <mat-option *ngFor="let z of zones" value="{{z.name}}"  >{{z.name}}</mat-option> -->
                                  </mat-select>
                                </mat-form-field>
                              </p>
    
                              <p>
                                <mat-form-field appearance="outline" id="notification_category">
                                  <mat-label>Notification Category*</mat-label>
                                  <mat-select placeholder="notification cat" [(ngModel)]="notification_category" name="notification_category">
                                    <!-- <mat-option *ngFor="let z of zones" value="{{z.name}}"  >{{z.name}}</mat-option> -->
                                  </mat-select>
                                </mat-form-field>
                              </p>
                              
                            

                              <p>
                                <mat-form-field appearance="outline" id="name">
                                  <mat-label>Select User</mat-label>
                                  <mat-select placeholder="Select User" [(ngModel)]="name" name="name">
                                    <!-- <mat-option *ngFor="let z of zones" value="{{z.name}}"  >{{z.name}}</mat-option> -->
                                  </mat-select>
                                </mat-form-field>
                              </p>

                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Mobile</mat-label>
                                  <input matInput [(ngModel)]="mobile" name="mobile" placeholder="Number">
                                  <mat-hint>User Mobile</mat-hint>
                                </mat-form-field>
                              </p>

                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Designation</mat-label>
                                  <input matInput [(ngModel)]="designation" name="designation" placeholder="Developer">
                                  <mat-hint>Designation</mat-hint>
                                </mat-form-field>
                              </p>
                
                
                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input matInput [(ngModel)]="email" name="email" placeholder="Email">
                                  <mat-hint>User Email</mat-hint>
                                </mat-form-field>
                              </p>
                
                
                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>TAT</mat-label>
                                  <input matInput [(ngModel)]="tat" name="tat" placeholder="tat">
                                  <mat-hint>TAT</mat-hint>
                                </mat-form-field>
                              </p>
    
                    
    
                        </div>
                      </div>

                         
                         

                          <button type="button" class="btn btn-primary" (click)="onsubmit()">Submit</button>
&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="button" class="btn btn-danger">Cancel</button>
                     
                </div>
            </div>
         </div>
      
           
       
           
       
    </div>
    
  </div>
  
  
  
  