table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .row{
    width: 100%;
      margin: -1%;
  }
  .reddot {
    height: 10px;
    width: 10px;
    background-color: rgb(226, 21, 21);
    border-radius: 50%;
    margin: 3%;
    display: inline-block;
  }
  
  
  .greendot {
    height: 10px;
    width: 10px;
    background-color: rgb(50, 240, 12);
    border-radius: 50%;
    margin: 3%;
    display: inline-block;
  }

  .containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}
.tempclass{
    background: #1a79a7;
    color: white;
    border-radius: 3px;
    font-size: 72%;    
    padding: 1px;
    margin: 5px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
}
.naclass{
  color: #4d7196;
}
.tempcls{
  margin-left: 25%;
}
.refreshcls{
  color: #4d7196;
}
