
<div class="row">
    <div class="containt">
        <div class="sub-heading">
          <!-- <button type="button" class="btn btn-primary" (click)="addtemplate()" style="float: right;">Add Template</button> -->
  
            <h3>Gateway List</h3>
            <hr>
         </div>

         <div class="row" style="padding: 1%;width: 100%;">
          <div class="col-sm-12" *ngFor="let g of gateways" style="margin-bottom: 2%;">
        
  
         <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
            Location - {{g.locations.name}}
          </mat-panel-title>
          <mat-panel-description>
       (Zone - {{g.zones.name}})
          </mat-panel-description>
          </mat-expansion-panel-header>
          
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
           {{g.gateway.name}} 

           <span *ngIf="g.gateway.is_online == false" class="reddot"></span>
           <span *ngIf="g.gateway.is_online == true" class="greendot"></span> 
           
            </mat-panel-title>
            <mat-panel-description>
            <a (click)="openDialog(g._id)">Command Settings</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" [disabled]="!arm"  (click)="sendMessage('arm',0,g.gateway.mac_id)" style="font-size: 80%;">ARM</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;            
  
            <button type="button" class="btn btn-primary" [disabled]="!disarm"  (click)="sendMessage('disarm',0,g.gateway.mac_id)" style="font-size: 80%;">DISARM</button>
            
  
            </mat-panel-description>
            </mat-expansion-panel-header>
            
               <div class="row col-md-12">
                   <div class="col-md-3"> {{g.gateway.mac_id}} - ARMED</div>
                   <div class="row col-md-3">
                    <span class="label label-primary tempclass">Temp 1</span><br>
                    
                    <span class="label label-primary tempclass">Temp 2</span><br>
                    
                    <i class="fa fa-refresh refreshcls pt-2" aria-hidden="true"></i>
                     </div>
                     <div class="row col-md-3">
                      <button type="button" class="btn btn-primary" [disabled]="!relay1"  (click)="sendMessage('relay1',1,g.gateway.mac_id)" style="font-size: 60%;">HOOTER / ON</button>
                      <button type="button" class="btn btn-primary" [disabled]="!relay1"  (click)="sendMessage('relay1',0,g.gateway.mac_id)" style="font-size: 60%;">HOOTER / OFF</button>

                    </div>

                    <div class="row col-md-3">

                      <button type="button" class="btn btn-primary" [disabled]="!relay2"  (click)="sendMessage('relay2',1,g.gateway.mac_id)" style="font-size: 60%;">SIGNAZE / ON</button>
                      <button type="button" class="btn btn-primary" [disabled]="!relay2"  (click)="sendMessage('relay2',0,g.gateway.mac_id)" style="font-size: 60%;">SIGNAZE / OFF</button>
                    </div>                
               
               </div>
               <div class="row tempcls">
                <p class="naclass ml-2">{{temp1}}</p><br>
                <p class="naclass ml-4">{{temp2}}</p><br>  
              </div>
               <hr> 
               
               <div class="row">
                <div class="col-sm-3"> PORT NAME </div>
  
                <div class="col-sm-3"> CURRENT STATUS </div>
  
  
                <div class="col-sm-3"> SETTINGS </div>
  
                <div class="col-sm-3"> 
                      <button type="button" class="btn btn-primary" [disabled]="!refresh" (click)="sendMessage('refresh',0,g.gateway.mac_id)" style="font-size: 80%;">REFRESH</button>
                </div>
  
  
                </div>
                <hr>
  
                <div class="row" *ngFor="let p of g.devices">
                    <div class="col-sm-3">Port {{p.port_number}} </div>
  
                    <div class="col-sm-3"> {{p.sensor_status}} </div>
  
  
                    <div class="col-sm-3"> <a (click)="port_set(p)">Port Settings</a> </div>
  
                    <div class="col-sm-3"> 
                    </div>
  
                    <hr>
                    </div>
  
            </mat-expansion-panel>
            </mat-accordion>

          </mat-expansion-panel>
          </mat-accordion>
  
    </div>
    
  </div>
  
</div>
    
</div>

  
  