
<div *ngIf="type == 'status'">
<h3><b>Status </b></h3>
   
<mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
[(ngModel)]="status">
<mat-radio-button class="example-radio-button" [value]="false">
  Open
</mat-radio-button>
<mat-radio-button class="example-radio-button" [value]="true">
  Closed
</mat-radio-button>
</mat-radio-group>
    
</div>

<div *ngIf="type == 'tat'">
    <h3><b>TAT </b></h3>
       
    <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="tat">
    <mat-radio-button class="example-radio-button" [value]="0">
      On Time
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="1">
      Missed
    </mat-radio-button>
    </mat-radio-group>
    </div>


    <div *ngIf="type == 'location'">
        <h3><b>Location </b></h3>
        <mat-form-field appearance="outline" id="hub">
            <mat-label>Location</mat-label>
            <mat-select  [(ngModel)]="location"  name="location">
            
              <mat-option *ngFor="let l of locations"  value="l.name"  >{{l.name}}</mat-option>

            </mat-select>
          </mat-form-field>
         
            
        </div>


        <div *ngIf="type == 'gateway'">
            <h3><b>Gateway </b></h3>
            <mat-form-field appearance="outline" id="hub">
                <mat-label>Gateway</mat-label>
                <mat-select  [(ngModel)]="gateway"  name="gateway">
                
                  <mat-option *ngFor="let l of gateways"  value="l.name"  >{{l.name}}</mat-option>
    
                </mat-select>
              </mat-form-field>
            </div>

            <button type="button"  class="btn btn-primary" (click)="onsubmit()">Submit</button>


