.divclass{
    background: white;
    font-size: 12px;
    font-family: sans-serif;
}
.priorityclass{
    background: red;
    color: white;
}
.fieldclass{
    background: white;
}
.porttime{
    color: red;
    font-size: small;
}
.hrclass{
    margin-top: -1rem;
}
.notictgry{
    font-size: small;
    margin-bottom: 2px;
}
.hr{
    margin-top: 0rem;
}
.btnclass{
    font-size: small;
}
.mgnt{
    background: white;
}

.reddot {
    height: 10px;
    width: 10px;
    background-color: rgb(226, 21, 21);
    border-radius: 50%;
    margin: 3%;
    display: inline-block;
  }
  
  
  .greendot {
    height: 10px;
    width: 10px;
    background-color: rgb(50, 240, 12);
    border-radius: 50%;
    margin: 3%;
    display: inline-block;
  }