
<div class="row">
  <div class="containt">
      <div class="sub-heading">
       
          <h3>Secondary gateway</h3>
          <hr>
       </div>

      <div class="main">
          
        <div class="row" *ngFor="let l of modbus; let i = index;" style="padding: 1%;width: 100%;">
          <div class="col-sm-12"  style="margin-bottom: 2%;" *ngIf="l.gateways.length != 0">
            
            <br>
           


            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Zone: {{l.zone_name}}</p>
              </mat-panel-title>
              <mat-panel-description>
                <p>Location: {{l.location_name}}</p>              
              </mat-panel-description>
              </mat-expansion-panel-header>
        <div *ngIf="l.gateways.length != 0">
          <div class="row" *ngFor="let g of l.gateways; let j = index;" style="padding: 1%;width: 100%;">

            <mat-accordion style="width: 100%;" >
            <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
           {{g.name}}
            </mat-panel-title>
            <mat-panel-description>
              <a (click)="openDialog(g.mac_id,g.version)">Command Settings</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span (click)="sendMessage('restart',g.mac_id,g.version,'none')"><i class="fa fa-power-off" aria-hidden="true"></i></span> &nbsp;&nbsp;&nbsp;
              <span (click)="delete(g.mac_id,g.client)"><i class="fa fa-trash" aria-hidden="true"></i></span> &nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-primary" (click)="clearqueue(g.mac_id)" style="font-size: 60%;">Clean Queue</button>

            </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div class="row col-md-12">
                <div class="col-md-3"> {{g.mac_id}} </div>
                <div class="row col-md-3">
                 <span class="label label-primary tempclass">Temp 1</span><br>                     
                 <span class="label label-primary tempclass">Temp 2</span><br>                     
                 <!-- <i class="fa fa-refresh refreshcls pt-2" aria-hidden="true"></i> -->
                  </div>

                  <div class="col-sm-3"> 
                <a (click)="refreshtemp()" style="cursor:pointer;"><i class="fa fa-refresh" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp;
              
               
              </div>

                  <div class="col-sm-3">
                   <!-- <button type="button" class="btn btn-primary" [disabled]="!relay1"  (click)="sendMessage('relay1',1,g.mac_id)" style="font-size: 60%;">HOOTER / ON</button>
                   <button type="button" class="btn btn-primary" [disabled]="!relay1"  (click)="sendMessage('relay1',0,g.mac_id)" style="font-size: 60%;">HOOTER / OFF</button> -->
                
                   <mat-slide-toggle [(ngModel)]="g.relays[0].current_status" (change)="relayonclick(i,$event.checked)" style="width: 100%;">Relay: 
                       <span *ngIf="g.relays[0].current_status == 1">ON</span>
                       <span *ngIf="g.relays[0].current_status == 0">OFF</span>
                   </mat-slide-toggle>
                 </div>

                            
            
            </div>

            <div class="row tempcls">

              <span *ngIf="g.ports[2].current_status == 0"><p class="naclass ml-2">{{ g.ports[2].default_state }}</p><br></span> 
              <span *ngIf="g.ports[2].current_status == 1"><p class="naclass ml-2">{{ g.ports[2].current_status }}</p><br></span> 
           <br>
              <span *ngIf="g.ports[3].current_status == 0"><p class="naclass ml-2">{{ g.ports[3].default_state }}</p><br></span> 
              <span *ngIf="g.ports[3].current_status == 1"><p class="naclass ml-2">{{ g.ports[3].current_status }}</p><br></span> 
           <br>
            </div>
               <hr> 
               
               <div class="row">
                <div class="col-sm-3"> <b>PORT NAME</b> </div>
                <div class="col-sm-3"> <b>CURRENT STATUS</b> </div>
                <div class="col-sm-3">  </div>
                <div class="col-sm-3">  </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-3"> {{ g.ports[0].port_name }} </div>
                    <div class="col-sm-3"> {{ g.ports[0].current_status }}
                        <span *ngIf="g.ports[1].current_status == 0">( Non-triggered )</span> 
                        <span *ngIf="g.ports[1].current_status == 1">( Triggered )</span>     
                    </div>
                    <div class="col-sm-3">  </div>
                    <div class="col-sm-3">  </div>
                </div>

                <hr>


                <div class="row">
                    <div class="col-sm-3"> {{ g.ports[1].port_name }} </div>
                    <div class="col-sm-3"> {{ g.ports[1].current_status }} 
                        <span *ngIf="g.ports[1].current_status == 0">( Non-triggered )</span> 
                        <span *ngIf="g.ports[1].current_status == 1">( Triggered )</span> 
                    </div>
                    <div class="col-sm-3">  </div>
                    <div class="col-sm-3">  </div>
                </div>
               
                

            </mat-expansion-panel>
            </mat-accordion>
       </div>
        </div>
      
              </mat-expansion-panel>
              </mat-accordion>
          </div>
        </div>

    
      </div>

  </div>
  
</div>



