
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Role Information</h3>
            <hr>
         </div>
  
         <div class="form_holder p-3">
            <div class="row ">
               
                <div class="col-md-12">
                     
                   <div class="grid-rowarea">
                    <div>
                      <mat-form-field appearance="outline">
                        <mat-label>Role Name</mat-label>
                        <input matInput placeholder="Role Name" [(ngModel)]="name" name="name" [disabled]="disable">
                        
                      </mat-form-field>
                    </div>

                    <div *ngIf="disable == true">
                      Please create fetures first <span (click)="addfetures()" style="color: cornflowerblue;" >Add features</span>
                    </div>

                    <div>
                      <mat-form-field appearance="outline">
                          <mat-label>Module</mat-label>
                          <mat-select placeholder="Module" [(ngModel)]="module_name" name="module_name" [disabled]="disableSelect.value">
                              <mat-option *ngFor="let m of modules" value="{{m.name}}" (click)="getsubmodulebyname(m.name)" [disabled]="m.name == 'Roles' || m.name == 'Users'">{{m.name}}</mat-option>
                          </mat-select>
                         
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="outline">
                          <mat-label>Sub Module</mat-label>
                          <mat-select placeholder="Module" [(ngModel)]="submodule_name" name="submodule_name" multiple >
                              <mat-option *ngFor="let m of submodules" value="{{m.name}}">{{m.name}}</mat-option>
                          </mat-select>
                         
                      </mat-form-field>
                    </div>

                   </div>
                       
                   <div class="row">
                       <div class="col-md-4 m-auto">
                     <button type="button" class="btn btn-primary" (click)="addmodule()" [disabled]="module_name == ''">Add module</button>

                       </div>
                   </div>
                        
                   <div class="row">
                      <div class="col-sm-4 text-left">
                        <p><b>Module</b></p>
                      </div>
                      <div class="col-sm-4 text-left">
                        <p><b>Sub-module</b></p>
                      </div>
                   </div>
                        <div class="row" *ngFor="let da of mapping;let i = index;">
                          <div class="col-sm-4">
                            {{da.modulename}}
                          </div>
                          <div class="col-sm-4">
                            <div *ngIf="da.submodulemapping == true">
                              <div class="row" *ngFor="let sa of da.submodulename">
                                   {{sa.submodule_name}}
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <p (click)="delete(i)">delete</p>
                          </div>
                         </div>

                         <div class="row my-5">
                        
                           <div class="col-md-12 d-flex justify-content-between  listforswitchs" *ngFor="let da of features;">
                            <div class="labelbox">
                              
                              <mat-label class="text-left">{{da.name}} &nbsp;&nbsp;&nbsp; ({{da.type}}) </mat-label>
                            </div>
                            <div class="actionchecks d-flex gap-1">

                              <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Add"   (change)="check('add',$event.checked,da.name,da.type)">Add </mat-checkbox>
                              <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="View" (change)="check('view',$event.checked,da.name,da.type)">View </mat-checkbox>
                              <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Edit" (change)="check('edit',$event.checked,da.name,da.type)">Edit </mat-checkbox>
                              <mat-checkbox *ngIf="da.type != 'button'" class="example-margin" name="Delete" (change)="check('delete',$event.checked,da.name,da.type)">Delete </mat-checkbox>
                              <mat-checkbox  *ngIf="da.type == 'button'" class="example-margin" name="Action" (change)="check('action',$event.checked,da.name,da.type)">Action </mat-checkbox>
                            </div>

                           </div>
                          </div>

                         
            
                    
                         <div class="d-flex gap-1 justify-content-center">

                           <button type="button" class="btn btn-primary" (click) = "onsubmit()" [disabled]=" (name == '') || (mapping.length == 0)">Submit</button>
                           <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
                         </div> 
                     
                </div>
                
            </div>
         </div>
      
           
       
           
       
    </div>
    
  </div>
  
  
  
  