
<div class="row">
  <div class="containt">
      <div class="sub-heading">

          <h3>Devices</h3>
          <hr>
       </div>

       

      <div class="main">

  
        <div class="row">
          <div class="col-sm-4" style="margin-bottom: 1%;">
            

                   <mat-card class="example-card"  style="text-align: center;">
                   <fa-icon [icon]="faPodcast" style="font-size: 300%;"></fa-icon>
                   <br>
                   <br>
                    <mat-card-content>
                       <button type="button" class="btn btn-primary btn-block" (click)="opendevice('GatewayList')" >Gateway</button>
                    </mat-card-content>
                  </mat-card>

          </div>

          <div class="col-sm-4" style="margin-bottom: 1%;">
            

            <mat-card class="example-card"  style="text-align: center;">
            <fa-icon [icon]="faWifi" style="font-size: 300%;"></fa-icon>
            <br>
            <br>
             <mat-card-content>
                <button type="button" class="btn btn-primary btn-block" (click)="opendevice('Router')" >Router</button>
             </mat-card-content>
           </mat-card>

          </div>


            <div class="col-sm-4" style="margin-bottom: 1%;">
                      

              <mat-card class="example-card"  style="text-align: center;">
              <fa-icon [icon]="faServer" style="font-size: 300%;"></fa-icon>
              <br>
              <br>
              <mat-card-content>
                  <button type="button" class="btn btn-primary btn-block" (click)="opendevice('Energy')" >Energy Meter</button>
              </mat-card-content>
            </mat-card>

          </div>

            <div class="col-sm-4" style="margin-bottom: 1%;">
                        

              <mat-card class="example-card"  style="text-align: center;">
              <fa-icon [icon]="faWindowMinimize" style="font-size: 300%;"></fa-icon>
              <br>
              <br>
              <mat-card-content>
                  <button type="button" class="btn btn-primary btn-block" (click)="opendevice('Video')" >Video Gateway</button>
              </mat-card-content>
            </mat-card>

            </div>

        </div>

        

      </div>

  </div>
  
</div>



