.containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}


.form_holder{
    width: 99%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; 
    text-align:center;
}

mat-form-field{
    width: 100%;
}