
<div class="row">
    <div class="containt">
        <div class="sub-heading">
         
            <h3>Tag Nearest Camera</h3>
            <hr>
         </div>
  
        <div class="form_holder" >

            

  <div class="row">
     <div class="col-sm-4">
      <p>      
        <mat-form-field appearance="outline" id="gateway" class="selectcls">
          <mat-label>Select Gateway</mat-label>
          <mat-select placeholder="gateway" [(ngModel)]="gateway" name="gateway"> 
            <mat-option *ngFor="let g of gateways" value="{{g.location_name}},{{g.mac_id}},{{g.client}}" (click)="selgateway(gateway)">{{g.name}}-{{g.location_name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </p>
     </div>
     <div class="col-sm-4">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Sensor Name</mat-label>
          <input matInput [(ngModel)]="filter" name="filter" placeholder="Sensor Name">
          <mat-hint>Sensor Name</mat-hint>
        </mat-form-field>
      </p>
     </div>

     <div class="col-sm-4">
      <mat-checkbox class="example-margin" [(ngModel)]="nocamera" (change)="nocamerafun(nocamera)"> Sensors having no camera tagged </mat-checkbox>
     </div>

  </div>
  
  <hr>

  <div class="row">

    <div class="col-sm-6"><p><b>Sensor Name</b></p></div>
    <div class="col-sm-6"><p><b>Camera</b></p></div>

  </div>

  <div *ngIf="portlist != undefined">
    <div class="row" *ngFor="let p of portlist;let i = index">

     
     <div class="row" [hidden]="(p.sensor_name == 'Temp 1') || (p.sensor_name == 'Temp 2')">
      <div class="col-sm-6" *ngIf="filter == '' || filter == p.sensor_name" ><p>{{p.sensor_name}}</p></div>
      <div class="col-sm-6" *ngIf="filter == '' || filter == p.sensor_name" ><p>
        <mat-form-field appearance="outline" id="cam" class="selectcls">
          <mat-label>Select Camera</mat-label>
          <mat-select placeholder="camera" [(ngModel)]="p.camera_id" name="camera"> 
            <mat-option *ngFor="let g of camera_list;" value="{{g.camera_id}}" (click)="putcam(i,g.camera_id,nvr_mac)">{{g.camera_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p></div>
     </div>
  
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
            
        </div>
  
    </div>
    
  </div>
  
  
  
  