<div class="mat-dialog-containerThree" style="font-size: 85%;">
      
  <div class="row modal-header hdrclass"> 
     <h5 class="modal-title" id="exampleModalCenterTitle">Command Settings</h5>
 <button (click)="onNoClick()">
   closed
 </button>
     
   </div>
         <div class="row col-sm-12 modal-body">                  

             <div class="row col-sm-12">
               <label class="col-sm-6">Relay Trigger Time</label>
               <div class="form-group col-sm-6">
                 <select class="form-control" [(ngModel)]="relaytriger" (change)="sendMessage('updaterelaytriggertime',relaytriger,data.id)">
                  <option  value="5">5 seconds </option>
                  <option  value="10">10 seconds </option>
                  <option  value="15">15 seconds </option>
                   <option  value="20">20 seconds</option>
                   <option  value="25">25 seconds</option>
                   <option  value="30">30 seconds</option>
                   <option  value="35">35 seconds</option>
                   <option  value="40">40 seconds</option>
                   <option  value="45">45 seconds</option>
                   <option  value="50">50 seconds</option>
                   <option  value="55">55 seconds</option>
                   <option  value="60">60 seconds</option>
                 </select>
               </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">Polling Time</label>
               <div class="form-group col-sm-6">
                 <select class="form-control"  [(ngModel)]="pollingtime" (change)="sendMessage('updatepollingtime',pollingtime,data.id)">
                   <option  value="5">5 seconds </option>
                   <option value="10">10 seconds</option>
                   <option value="15">15 seconds</option>
                   <option value="20">20 seconds</option>
                 </select>
               </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">Polling URL</label>
               <div class="form-group col-sm-5">
                 <input class="form-control form-control-sm"  [(ngModel)]="url" type="text" placeholder="URL">
               </div>
               <div class="col-sm-1">
                 <button type="button" class="btn btn-secondary updatecls" (click)="updatepollingurl('updatepollingurl',url,data.id)">Update</button>
                 </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">KeyPad Password</label>
               <div class="form-group col-sm-4 keypadclass">
                 <input class="form-control form-control-sm"  [(ngModel)]="KeyPad"  type="number">
               </div>
               <div class="col-sm-2">
                 <button type="button" class="btn btn-secondary updatecls" (click)="updatepassword('updatepassword',KeyPad,data.id)">Update</button>
                 </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">ARM Delay</label>
               <div class="form-group col-sm-6">
                 <select class="form-control" [(ngModel)]="armval" (change)="sendMessage('updatearmdelay',armval,data.id)">
                  <option  value="5">5 seconds </option>
                  <option  value="10">10 seconds </option>
                   <option value="20">20 seconds</option>
                   <option value="30">30 seconds</option>
                   <option value="40">40 seconds</option>
                   <option value="50">50 seconds</option>
                   <option value="60">1 Minute</option>
                   <option value="70">1 Minute 10 seconds</option>
                   <option value="80">1 Minute 20 seconds</option>
                   <option value="90">1 Minute 30 seconds</option>
                   <option value="100">1 Minute 40 seconds</option>
                   <option value="110">1 Minute 50 seconds</option>
                   <option value="120">2 Minute</option>
                   <option value="130">2 Minute 10 seconds</option>
                   <option value="140">2 Minute 20 seconds</option>
                   <option value="150">2 Minute 30 seconds</option>
                   <option value="160">2 Minute 40 seconds</option>
                   <option value="170">2 Minute 50 seconds</option>
                   <option value="180">3 Minute</option>
                   <option value="190">3 Minute 10 seconds</option>
                   <option value="200">3 Minute 20 seconds</option>
                   <option value="210">3 Minute 30 seconds</option>
                   <option value="220">3 Minute 40 seconds</option>
                   <option value="230">3 Minute 50 seconds</option>
                   <option value="240">4 Minute</option>
                   <option value="250">4 Minute 10 seconds</option>
                   <option value="260">4 Minute 20 seconds</option>
                   <option value="270">4 Minute 30 seconds</option>
                   <option value="280">4 Minute 40 seconds</option>
                   <option value="290">4 Minute 50 seconds</option>
                  


                  

                 </select>

                 
               </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">DISARM Delay</label>
               <div class="form-group col-sm-6">
                 <select class="form-control" [(ngModel)]="disarmval" (change)="sendMessage('updatedisarmdelay',disarmval,data.id)">
                  <option  value="5">5 seconds </option>
                  <option  value="10">10 seconds </option>
                   <option value="20">20 seconds</option>
                   <option value="30">30 seconds</option>
                   <option value="40">40 seconds</option>
                   <option value="50">50 seconds</option>
                   <option value="60">1 Minute</option>
                   <option value="70">1 Minute 10 seconds</option>
                   <option value="80">1 Minute 20 seconds</option>
                   <option value="90">1 Minute 30 seconds</option>
                   <option value="100">1 Minute 40 seconds</option>
                   <option value="110">1 Minute 50 seconds</option>
                   <option value="120">2 Minute</option>
                   <option value="130">2 Minute 10 seconds</option>
                   <option value="140">2 Minute 20 seconds</option>
                   <option value="150">2 Minute 30 seconds</option>
                   <option value="160">2 Minute 40 seconds</option>
                   <option value="170">2 Minute 50 seconds</option>
                   <option value="180">3 Minute</option>
                   <option value="190">3 Minute 10 seconds</option>
                   <option value="200">3 Minute 20 seconds</option>
                   <option value="210">3 Minute 30 seconds</option>
                   <option value="220">3 Minute 40 seconds</option>
                   <option value="230">3 Minute 50 seconds</option>
                   <option value="240">4 Minute</option>
                   <option value="250">4 Minute 10 seconds</option>
                   <option value="260">4 Minute 20 seconds</option>
                   <option value="270">4 Minute 30 seconds</option>
                   <option value="280">4 Minute 40 seconds</option>
                   <option value="290">4 Minute 50 seconds</option>
                 </select>
               </div>
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">Firmware Version</label>
               <div class="form-group col-sm-3">
                 <input class="form-control form-control-sm" [(ngModel)]="firmwarevirsion" type="text">
               </div>
               <div class="col-sm-2">
                 <button type="button" class="btn btn-secondary updatecls" (click)="updatefirmwareversion('updatefirmwareversion',firmwarevirsion,data.id)">Update</button>
                 </div>
                 <div class="col-sm-1">
                  <button type="button" class="btn btn-secondary updatecls" (click)="sendMessage('getfirmwareversion','get',data.id)">Get</button>
                  </div>
                 
             </div>

             <div class="row col-sm-12">
               <label class="col-sm-6">Calibrate Temperature Sensor</label>                      
             </div>

             <div class="row col-sm-12">
               <div class="col-sm-6">
                 <button type="button" class="btn btn-secondary calicls mt-2" 
                 (click)="gettemperaturecalibrationstatus('gettemperaturecalibrationstatus','get',data.id)">Calibrate Temperature Sensor(s)</button>
                 </div>
                 <div class="col-sm-3">
                  <p>Calibrate : 
                  <span *ngIf="tem_cal_status == true" style="color: green;"><b>OK</b></span> 
                  <span *ngIf="tem_cal_status == false" style="color: red;"><b>FAIL</b></span>
                </p> 

                  </div>
                  <div class="col-sm-3">
                    <p (click)="sendMessage('calibratetemperaturesensor','get',data.id)">  <u>[ Update ]</u></p>
                    <br>
                     Calibration Status as on : {{temperature_calibration_status_last_updated_on}}
                    </div>
             </div>
      

  

             <div class="row">
               <label class="col-sm-4">Reboot Schedule <p class="hrscls">(in Hours)</p></label>
               <div class="form-group col-sm-4">
                 <input class="form-control form-control-sm" [(ngModel)]="boot_time" type="text">
               </div>
               <div class="col-sm-3">
                 <button type="button" class="btn btn-secondary updatecls" (click)="sendMessage('rebootschedule',boot_time,data.id)">Update</button>                        
                 </div>
                 <div class="col-sm-1">
                   <button type="button" class="btn btn-secondary rebootget" (click)="sendMessage('getrebootscheduletime','get',data.id)">Get</button>
                   </div>
             </div>
             
           
             <div class="row col-sm-12">
              <label class="col-sm-6">Calibrate smoke sensor:</label>
              <div class="form-group col-sm-4">
                <button type="button" class="btn btn-secondary rebootget" (click)="sendMessage('calibratesmokesensor','get',data.id)">Update</button>

              </div>
             
            </div>

            <div class="row col-sm-12">
              <label class="col-sm-6"> Restart router over sms : </label>
              <div class="form-group col-sm-4">
                <button type="button" class="btn btn-secondary rebootget" (click)="routersendMessage('restartrouter',data.id,data.rmac,data.rnum)">Send SMS</button>

              </div>
             
            </div>
            
         </div>

</div>