
<div class="row px-3">
  <div class="containt">
      <div class="sub-heading">
       
          <h3>Smart Meter</h3>
          <hr>
       </div>

      <div class="main">
          
        <div class="row" *ngFor="let l of modbus">
          <div class="col-sm-12 my-2"  *ngIf="l.gateways.length != 0">
            

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header class="px-0">
              <mat-panel-title>
              Zone: {{l.zone_name}}
              </mat-panel-title>
              <mat-panel-description>
                Location: {{l.location_name}}         
              </mat-panel-description>
              </mat-expansion-panel-header>
        <div *ngIf="l.gateways.length != 0">
          <div class="row " *ngFor="let g of l.gateways; let j = index;" >


              <mat-accordion class="w-100">
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
              <mat-panel-title>
                {{g.name}}
              </mat-panel-title>
              <mat-panel-description>
                <div class="row">
                  <div class="col-sm-6">
                    <a (click)="openDialog(g.mac_id,g.version,g.client)">Command Settings</a>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" (click)="clearqueue(g.mac_id)" style="font-size: 60%;">Clean Queue</button>

                  </div>
                </div>
              </mat-panel-description>
              </mat-expansion-panel-header>
            <div class="row" *ngIf="g.smartmeter.length != 0" >
              
              <div class="col-md-4"  *ngFor="let s of g.smartmeter;let i = index">

                <div  class="p-2 border border-dark rounded" (click) = "graph(g.mac_id,g.client)">

                

                  <div class="text-center my-3">
                      <table class="table table-bordered mb-1">
                          <thead>
                            <tr *ngIf="finalmodbus[j].length == 0">
                              <th>{{finalmodbus[j][i][0].kwhm[0]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[1]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[2]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[3]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[4]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[5]}}</th>
                              <th>{{finalmodbus[j][i][0].kwhm[6]}}</th>
                            </tr>
                            <tr *ngIf="finalmodbus[j].length != 0">
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                            </tr>
                          </thead>
                        </table>
                        <b>Kilo Watt-Hour (Monthly)</b>
                  </div>

                  <div class="text-center my-3">
                      <table class="table table-bordered mb-1">
                          <thead>
                            <tr *ngIf="finalmodbus[j].length == 0">
                              <th>{{finalmodbus[j][i][1].kwht[0]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[1]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[2]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[3]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[4]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[5]}}</th>
                              <th>{{finalmodbus[j][i][1].kwht[6]}}</th>
                            </tr>
                            <tr *ngIf="finalmodbus[j].length != 0">
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                              <th>0</th>
                            </tr>
                          </thead>
                        </table>
                        <b>Kilo Watt-Hour (Today)</b>
                  </div>

                  <div style="text-align: center;">
                     <div class="row justify-content-around">
                         <div class="col-sm-5" ><b>0 kVAh</b></div>
                        
                         <div class="col-sm-5"><b>0 kVAh</b></div>

                      </div>
                      <div class="row justify-content-around my-2">
                          <div class="col-sm-5 border border-dark font-weight-bold">Monthly</div>
                          
                          <div class="col-sm-5  border border-dark font-weight-bold">Today</div>

                       </div>

                       <p>Total Energy Consumption</p>

                       <p><b>Smart Meter</b></p>

                       <p>{{i+1}}.{{s.smartmeter_name}}</p>

                  </div>
                  

                <span (click)="deletesmartmeter(g.mac_id,g.client,s.address_no)"><i class="fa fa-trash" aria-hidden="true"></i></span>

                </div>

              </div>

             

            </div>

            <div>

        <button type="button" class="btn btn-primary" (click)="addsmartmeter(g.mac_id,g.client)" style="float: right;">Add Smart-Meter</button>

              </div>

            

              </mat-expansion-panel>
              </mat-accordion>

      </div></div></mat-expansion-panel></mat-accordion>

          </div>
        </div>

    
      </div>

  </div>
  
</div>



