<div class="w3-sidebar w3-bar-block w3-card w3-animate-left white-bg mainsideBar" id="mySidebar">
  <div class="logo-container">
    <img src="assets/company_logo/logo.png" (click)="redirect()">
  </div>
      <div *ngFor="let s of sidebar"> 
  
            <div *ngIf="s.submodulename.length != 0;else elseBlock">
                  <ul class="list-unstyled components mb-0">   
                    <li class="navbarList">
                        <a href="#{{s.modulename.replace(' ','')}}"  data-toggle="collapse" aria-expanded="false" class="navlinks">
                          <img src="assets/svg/{{s.modulename}}.svg"> &nbsp;&nbsp;&nbsp;
                          {{s.modulename}}
                        <fa-icon [icon]="faCaretDown" style="float: right;"></fa-icon>
  
                        </a>
                        <ul class="collapse list-unstyled mb-0" id="{{s.modulename.replace(' ','')}}" style="margin-left: 1rem;">
                            <li *ngFor="let ss of s.submodulename" class="navbarList">
                                <a  (click)="next('/kochar/'+s.modulename+'/'+ss.submodule_name)" class="navlinks">
                                  
                                  <img src="assets/svg/{{ss.submodule_name}}.svg"> &nbsp;&nbsp;&nbsp;
                                  {{ss.submodule_name}}</a>
                            </li>
                        </ul>
                    </li>
                  </ul>
            </div>
          
            <ng-template #elseBlock>
              <a  (click)="next('/kochar/'+s.modulename)"  class="navlinks">
                <img src="assets/svg/{{s.modulename}}.svg"> &nbsp;&nbsp;&nbsp;
                {{s.modulename}}</a>
            </ng-template>
  
      </div>
  
      <div class="footer">
        <a (click)="clear()" class="add_new_grp editbtn"> Clear All </a>
      </div>
        
  </div>
  
  
  
  
  
    
  <div id="main">
          <div class="w3-teal">
              <div class="row py-3" style="width: 100%;margin: 0%;">
                <div class="col-sm-2 navbtnbox">
                  <button id="openNav" class="w3-button w3-xlarge navbtnNew" (click)="w3_open()">&#9776;</button>
                  <button id="closeNav" class="w3-button  w3-xlarge navbtnNew" (click)="w3_close()" style="display: none;">&#9776;</button>     
                </div> 
                
                <div class="col-sm-3  ml-auto rightsectionHeader">
  
                  <span *ngIf="notif == true" matBadge="{{notificationcount}}" matBadgeSize="small"  (click)="goto_notification()">
                    <i class="fa fa-bell-o mt-2"></i>
                  </span>
  
                  <button id="logout" class="btn-hov w3-teal w3-xlarge" (click)="logout()" > {{profile_name}}
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                  </button> 
  
                </div>
  
              </div>
          </div>
  
          <!-- <button (click)="sendMessage()">SOC</button>
  
  
        <button (click)="create('hi','asd',12,'add')">notify</button>
        <button (click)="clearall()">clearall</button> -->
  
  
        <div class="w3-container">
          
                <router-outlet></router-outlet>
  
                <div class="text-center my-3 footersection">
                  <span>Copyright © 2021 KocharTech. All Right Reserved</span>
                </div>
          </div>
  </div>   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <simple-notifications  ></simple-notifications>
  