
<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Zone Information</h3>
            <hr>
         </div>
  
         <div class="form_holder p-3">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Zone Name</mat-label>
                  <input matInput placeholder="Zone Name" [(ngModel)]="name" name="name">
                 
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>User</mat-label>
                  <mat-select placeholder="User" [(ngModel)]="user_id" name="user_id">
                    <mat-option *ngFor="let u of business_user" value="{{u._id}},{{u.keycloak_user_id}},{{u.name}}" >{{u.name}}</mat-option>
                  </mat-select>
                
              </mat-form-field>
              </div>
      
            </div>
            <div class="row justify-content-center gap-1 my-3">
                  
              <button type="button" class="btn btn-primary" (click) = "onsubmit()" >Submit</button>

              <button type="button" class="btn btn-light" (click) = "cancel()">Cancel</button>
         
            </div>
         </div>
      
           
       
           
       
    </div>
    
  </div>
  
  
  
  