table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 22%;
  }



  .containt{
    margin: 0;
   padding:0px 1rem;
    width: 100%;
}

.sub-heading{
    color:#022656;
}
