<div class="row">
    <div class="containt">
        <div class="sub-heading">
            <h3>Profile</h3>
            <hr>
         </div>

         <div class="form_holder">
          
    <div class="col-md-12">
        <div class="profile_heading">
            <h4><b>Kochar Infra.</b></h4>
        </div>
        
        <div class="profile_details">
            
            <div class="row">
                <div class="col-sm-4">
                <span><b>Name</b></span>
                    <br>
                    <br>
                <span><b>Phone</b></span>
                <br>
                <br>
                <span><b>Address</b></span>
                <br>
                <br>
                <span><b>Email</b></span>
                <br>
                <br>
                </div>
                <div class="col-sm-8">
                <span>Kochar Infra.</span>
                <br>
                <br>
                <span>7087651123</span>
                <br>
                <br>
                <span>Nidhi-2, Lawrence Road.</span>
                <br>
                <br>
                <span>iot.developers@kochartech.com</span>
                <br>
                <br>
                </div>
            </div>

           

            <div class="col-md-12 text-center" style="margin-top: 20px;">
                <a href="#" alt="Edit" title="Edit" class="add_new_grp"> Edit </a>
            </div>    
           
            
        </div>

        </div>
            
    </div>
    </div>
    
</div>


