.containt{
    margin: 1%;
    width: 100%;
}

.sub-heading{
    color:#022656;
}


.main{
    width: 99%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; 
    
}

.row{
    width: 100%;
    margin: 0%;
}

mat-form-field{
    width: 100%;
}

.row{
    width: 100%;
    margin: 0%;
}