<section class="container">

  <div class="row">
    <div class="sub-heading col-md-12">
           
      <h3>Modbus Details</h3>
      <hr>
   </div>
       
  </div>
  <div class="main">
  
    <div class="row">
    <div class="col-md-12">
      <p class="text-primary" (click)="openDialog(data.mac_id)">Command Settings</p>
    </div>
    </div>

    <div class="row my-3" *ngIf="data != undefined">

       <div class="col-sm-3">
        <p>#{{data.location_name}}</p>
        <p>{{data.mac_id}}</p>
        <br>
        <p>{{data.zone_name}}</p>
       </div>

       <div class="col-sm-6">
           <div class="row">
               <div class="col-sm-3"></div>
               <div class="col-sm-3"></div>
               <div class="col-sm-3"></div>
               <div class="col-sm-3"></div>
           </div>
       </div>
       
       <div class="col-sm-3">
           <p>Last Ping Status : {{status[1]}} </p>
           <p>Ping Count : {{status[3]}} </p>
           <p>Address Range : 1 - 125</p>

       </div>

    </div>

    <hr>

    <div class="row my-3">
        <div class="col-sm-3">
        <h3>NCNO Ports</h3>
        </div>

        <div class="col-sm-3">
        </div>

        <div class="col-sm-3">
            <h3>Temprature Ports</h3>
        </div>

        <div class="col-sm-3">
        </div>
    </div>

    <div class="row mt-3" *ngIf="data != undefined">

        <div class="col-sm-3">
          <mat-card>
              <div><p>{{data.ports[0].port_name}}</p></div>
              <hr>
              <div>
                  <p *ngIf="data.ports[0].current_status == 0">Non Trigger</p>
                  <p *ngIf="data.ports[0].current_status == 1">Trigger</p>

                  <p>{{data.ports[0].current_status}}</p>
              </div>
              <hr>
              <div>
                  <p> Port NO.{{data.ports[0].port_number}} </p>
              </div>
          </mat-card>
        </div>

        <div class="col-sm-3">
            <mat-card>
                <div><p>{{data.ports[1].port_name}}</p></div>
                <hr>
                <div>
                    <p *ngIf="data.ports[1].current_status == 0">Non Trigger</p>
                    <p *ngIf="data.ports[1].current_status == 1">Trigger</p>

                    <p>{{data.ports[1].current_status}}</p>
                </div>
                <hr>
                <div>
                    <p> Port NO.{{data.ports[1].port_number}} </p>
                </div>
            </mat-card>
          </div>

          <div class="col-sm-3">
            <mat-card>
                <div><p>{{data.ports[2].port_name}}</p></div>
                <hr>
                <div>
                  
                    <p>{{data.ports[2].current_status}}</p>
                </div>
                <hr>
                <div>
                    <p> Port NO.{{data.ports[2].port_number}} </p>
                </div>
            </mat-card>
          </div>
        
          <div class="col-sm-3">
            <mat-card>
                <div><p>{{data.ports[3].port_name}}</p></div>
                <hr>
                <div>
                    <!-- <p *ngIf="data.ports[1].current_status == 0">Non Trigger</p>
                    <p *ngIf="data.ports[1].current_status == 1">Trigger</p>
-->
                    <p>{{data.ports[3].current_status}}</p>
                </div>
                <hr>
                <div>
                    <p> Port NO.{{data.ports[3].port_number}} </p>
                </div>
            </mat-card>
          </div>

     </div>

     <div class="row mt-3">

        <div class="col-sm-12">
          <h3> Relays</h3>
        </div>


     </div>

     <div class="row" *ngIf="data != undefined">

        <div class="col-sm-3" *ngFor="let l of data.relays">
          <mat-card>
              <div><p>{{l.relay_name}}</p></div>
              <hr>
              <div>
                 <mat-slide-toggle [(ngModel)]="l.current_state" (change)="relayonclick(i,$event.checked)" style="width: 100%;">Relay: 
                    <span *ngIf="l.current_state == 1">ON</span>
                    <span *ngIf="l.current_state == 0">OFF</span>
                </mat-slide-toggle>
              </div>
              <hr>
              <div>
                <button class="btn btn-primary">Get Status</button>
            </div>
          </mat-card>
        </div>

       

     </div>

<div class="row mt-3">
  <div class="col-md-12">

    <p>Smartmeters</p>
  </div>
</div>

<div class="row mt-3" *ngIf="data != undefined">
  <div class="col-md-12">

    <p>EM368</p>
  </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Address No</th>
                <th scope="col">Name</th>
                <th scope="col">Configration</th>
                <th scope="col">Total Unit</th>
                <th scope="col">Apparent Energy</th>
                <th scope="col">Reactive Energy</th>
                <th scope="col">Average P.F</th>
                <th scope="col">Total Kilowatts</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of data.smartmeter">
                <th scope="row" *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.address_no}}</th>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeter_name}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.configuration}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data1}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data2}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data3}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data7}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data8}}</td>
                <td *ngIf="(r.meter_type =='EM368') && (r.smartmeterlogs_current.length != 0)">Del</td>

              </tr>
            </tbody>
          </table>
    </div>

</div>

<div class="row mt-3" *ngIf="data != undefined">

  <div class="col-md-12">

    <p>EM1320</p>
  </div>

    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Address No</th>
                <th scope="col">Name</th>
                <th scope="col">Configration</th>
                <th scope="col">Avg Active Power</th>
                <th scope="col">Avg Apparent Power</th>
                <th scope="col">Average P.F</th>
                <th scope="col">System Active Power</th>
                <th scope="col">System Power Factor</th>
                <th scope="col">Import Active Energy</th>
                <th scope="col">Export Active Energy</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of data.smartmeter">
                  <th scope="row" *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.address_no}}</th>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeter_name}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.configuration}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{avg(r.smartmeterlogs_current[0].data1,r.smartmeterlogs_current[0].data2,r.smartmeterlogs_current[0].data3) }}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{avg(r.smartmeterlogs_current[0].data4,r.smartmeterlogs_current[0].data5,r.smartmeterlogs_current[0].data6) }}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{avg(r.smartmeterlogs_current[0].data7,r.smartmeterlogs_current[0].data8,r.smartmeterlogs_current[0].data9) }}</td>

                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data10}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data11}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data12}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">{{r.smartmeterlogs_current[0].data13}}</td>
                  <td *ngIf="(r.meter_type =='EM1320') && (r.smartmeterlogs_current.length != 0)">Del</td>

                </tr>
              </tbody>
          </table>
    </div>
</div>


</div>  
    
</section>
  
  