<div class="row px-3">
    <div class="containt">
        <div class="sub-heading">
            <h3>Notification Manager</h3>
        </div>
        <hr>  

        <div class="row">
          <div class="col-md-4">      
            <mat-form-field appearance="outline" id="gateway" class="selectcls">
              <mat-label>Select Gateway</mat-label>
              <mat-select placeholder="gateway" [(ngModel)]="gateway" name="gateway"> 
                <mat-option *ngFor="let g of gateways" value="{{g.mac_id}}" (click)="getport(g.mac_id)"  >{{g.name}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>

        </div>
        <div class="main">
           

            <table class="table" *ngIf="ports.length != 0" style="text-align: center;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Port</th>
                    <th scope="col">Name</th>
                    <th scope="col">ARM</th>
                    <th scope="col">DISARM</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let da of ports;let i = index;">
                    <th scope="row" *ngIf="!(da.sensor_name == 'Temp 1' || da.sensor_name == 'Temp 2')">{{da.port_number}}</th>
                    <td *ngIf="!(da.sensor_name == 'Temp 1' || da.sensor_name == 'Temp 2')">{{da.sensor_name}}</td>
                    <td *ngIf="!(da.sensor_name == 'Temp 1' || da.sensor_name == 'Temp 2')">
                        <mat-checkbox class="example-margin" [disabled]="!edit"  [checked]="da.notif_arm" (change)="onclick('notif_arm',$event.checked,da.port_number)" >  </mat-checkbox>
                      </td>
                    <td *ngIf="!(da.sensor_name == 'Temp 1' || da.sensor_name == 'Temp 2')">
                        <mat-checkbox class="example-margin"  [disabled]="!edit"  [checked]="da.notif_diarm"  (change)="onclick('notif_diarm',$event.checked,da.port_number)">  </mat-checkbox>
                    </td>
        
                  </tr>

                  <button type="button" class="btn btn-primary" *ngIf="edit == true" (click)="submit()" style="margin-left: 190%;">Update</button>

                </tbody>
                   
              </table>

         



        </div>

    
    </div>
</div>
  
  
  