<h3><b>Details</b></h3>

<div *ngIf="type == 'IN'">
    <p *ngIf="rssi != ''">Rssi Value : {{rssi}}</p>
    <p *ngIf="mode != ''">Mode : {{mode}}</p>
    <p *ngIf="keypad != ''">Keypad Status : {{keypad}}</p>
    
</div>

<div *ngIf="type == 'Video'">
    <p>Last Footage: N/A</p>
    <p *ngIf="online != ''">Online/Offline Value : {{online}}/{{offline}}</p>
</div>

<div *ngIf="type == 'Router'">
    <p *ngIf="cpu != ''">CPU : Load avg - {{cpu}}</p>
    <p *ngIf="version != ''">Virsion : {{version}}</p>
    <p *ngIf="uptime != ''">Uptime : {{uptime}}</p>
    <p *ngIf="meminfo != ''">Memory Info : {{meminfo}}</p>
    <p *ngIf="rmode != ''">Mode : {{rmode}}</p>
</div>




