<div class="mat-dialog-containerThree" style="padding:0px;">
      
    <div class="row modal-header"> 
       <h5 class="modal-title" id="exampleModalCenterTitle">Command Settings for Secondary gateway</h5>
        <button (click)="onNoClick()" >close</button>
       
     </div>


           <div class="row">
               
            <div class="col-sm-3">
             <p>Ping Interval</p> 

            </div>
            <div class="col-sm-6">
                    <p>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="For eg: 5, 10 ..." [(ngModel)]="pinginterval1" name="pinginterval1">
                    </mat-form-field>
                    </p>
                  <p>
                    <mat-form-field appearance="outline">
                      <input matInput  [(ngModel)]="getping_interval" name="getping_interval">
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" (click) = "sendMessage('updatepollingtime',pinginterval1,data.id)" >Set</button>
                <button type="button" class="btn btn-primary" (click) = "get('getpollingtime',data.id)" >Get</button>

            </div>

  
             
             
           </div>

           <div class="row">
               
            <div class="col-sm-3">
             <p>Ping URL</p> 

            </div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="For eg: http://www.example.com" [(ngModel)]="pingurl1" name="pingurl1">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline">
                      <input matInput  [(ngModel)]="getping_url" name="getping_url">
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" (click) = "sendMessage('updatepollingurl',pingurl1,data.id)" >Set</button>
                <button type="button" class="btn btn-primary" (click) = "get('getpollingurl',data.id)" >Get</button>

            </div>

  
             
             
           </div>

           <div class="row">
               
            <div class="col-sm-3">
             <p>Enable APM</p> 

            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary" (click) = "sendMessage('enableapm','none',data.id)" >Submit</button>
            </div>
            <div class="col-sm-3">
            </div>

  
             
             
           </div>

           <div class="row">
               
            <div class="col-sm-3">
             <p>Relay Status</p> 

            </div>
            <div class="col-sm-6">
                
                  <p>
                    <mat-form-field appearance="outline">
                      <input matInput  [(ngModel)]="getrelaystatus" name="getrelaystatus">
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" (click) = "get('getrelaystatus',data.id)" >Get</button>
            </div>

  
             
             
           </div>

           <div class="row">
               
            <div class="col-sm-3">
             <p>Firmware Version</p> 

            </div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="For eg: v1.2" [(ngModel)]="firmwarevirsion1" name="firmwarevirsion1">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="outline">
                      <input matInput  [(ngModel)]="getfirmware" name="getfirmware">
                    </mat-form-field>
                  </p>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" (click) = "sendMessage('updatefirmwareversion',firmwarevirsion1,data.id)" >Set</button>
                <button type="button" class="btn btn-primary" (click) = "get('getfirmwareversion',data.id)" >Get</button>

            </div>

  
             
             </div>
           </div>
  
 