/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "./assets/scss/main.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.containt{
    padding: 0px 1rem;
    width: 100%;
    min-height: calc(100vh - 100px);
}

