<div class="row">
    <div class="col-sm-8">

        <p>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="name" name="name" placeholder="name">
              <mat-hint>Name</mat-hint>
            </mat-form-field>
          </p>

        <p>
            <mat-form-field appearance="outline" id="level">
              <mat-label>Level*</mat-label>
              <mat-select placeholder="level" [(ngModel)]="level" name="level">
                <mat-option  [value]="1"  >1</mat-option>
                <mat-option  [value]="2"  >2</mat-option>
                <mat-option  [value]="3"  >3</mat-option>
                <mat-option  [value]="4"  >4</mat-option>
                <mat-option  [value]="5"  >5</mat-option>
                <mat-option  [value]="6"  >6</mat-option>
                <mat-option  [value]="7"  >7</mat-option>
                <mat-option  [value]="8"  >8</mat-option>
                <mat-option  [value]="9"  >9</mat-option>
                <mat-option  [value]="10"  >10</mat-option>


              </mat-select>
            </mat-form-field>
          </p>

       

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput [(ngModel)]="phone" name="phone" placeholder="Number">
              <mat-hint>Phone</mat-hint>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="outline">
              <mat-label>Designation</mat-label>
              <input matInput [(ngModel)]="designation" name="designation" placeholder="Developer">
              <mat-hint>Designation</mat-hint>
            </mat-form-field>
          </p>


          <!-- <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="email" name="email" placeholder="Email">
              <mat-hint>User Email</mat-hint>
            </mat-form-field>
          </p> -->


          <p>
            <mat-form-field appearance="outline">
              <mat-label>TAT</mat-label>
              <input matInput type="number" [(ngModel)]="tat" name="tat" placeholder="tat">
              <mat-hint>TAT</mat-hint>
            </mat-form-field>
          </p>


          <button type="button" class="btn btn-primary" (click)="edit()">Submit</button>

    </div>
  </div>