
<div class="row">
    <div class="containt">
        <div class="sub-heading">
         
            <h3>Add Template</h3>
            <hr>
         </div>
  
        <div class="form_holder" >

            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Template Name</mat-label>
                  <input matInput [(ngModel)]="template_name"  name="template_name" placeholder="Template Name" >
                  <mat-hint>Template Name</mat-hint>
                </mat-form-field>
              </p>

              <p>
                Template ports no. :
              </p>
              <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="template_no" (change)="temp(template_no)">
              <mat-radio-button class="example-radio-button" [value]="12">
                12
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="14">
                14
              </mat-radio-button>
            </mat-radio-group>
            
            <div class="example-large-box mat-elevation-z4" *ngFor="let s of sensordata" style="padding-top: 1px;">
                <div class="row">
                  <div class="col-sm-1">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Port</mat-label>
                        <input matInput [(ngModel)]="s.port_number"  name="port" placeholder="0" disabled>
                        <mat-hint>Port</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>

                  <div class="col-sm-2">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Sensor Name</mat-label>
                        <input matInput [(ngModel)]="s.sensor_name" name="sname" placeholder="Sensor Name">
                        <mat-hint>Sensor Name</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>

                  <div class="col-sm-2">

                    <p>
                        <mat-form-field appearance="outline">
                            <mat-label>Select Sensor</mat-label>
                            <mat-select placeholder="Type" [(ngModel)]="s.sensor_type" name="sel_sensor">
                              <mat-option  value="panic sensor" >Panic Sensor</mat-option>
                              <mat-option  value="pri sensor" >PRI Sensor</mat-option>
                              <mat-option  value="smoke sensor" >Smoke Sensor</mat-option>
                              <mat-option  value="shutter sensor" >Shutter Contact Sensor</mat-option>
                              <mat-option  value="magnetic sensor" >Magnetic Contact Sensor</mat-option>
                              <mat-option  value="glassbreak sensor" >Glassbreak Sensor</mat-option>
                              <mat-option  value="thermal sensor" >Thermal Sensor</mat-option>
                              <mat-option  value="seismic sensor" >Seismic Sensor</mat-option>
                              <mat-option  value="vibration sensor" >Vibration Sensor</mat-option>

                            </mat-select>
                          <mat-hint>Select Sensor</mat-hint>
                        </mat-form-field>
                      </p>

                </div>


                  <div class="col-sm-2">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Room Name</mat-label>
                        <input matInput [(ngModel)]="s.room_name" name="room" placeholder="Room Name">
                        <mat-hint>Room Name</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>

                  <div class="col-sm-2">
                      <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="s.default_state">
                        <mat-radio-button class="example-radio-button" [value]="0">
                          0 (Non Trigger)
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="1">
                          1 (Trigger)
                        </mat-radio-button>
                      </mat-radio-group>
                  </div>

                  <div class="col-sm-2">
                    <mat-radio-group
                      aria-labelledby="example-radio-group-label"
                      class="example-radio-group"
                      [(ngModel)]="s.alarm_type">
                      <mat-radio-button class="example-radio-button" [value]="0">
                        0 (No Alarm In Arm Or Disarm Mode)
                      </mat-radio-button>
                      <mat-radio-button class="example-radio-button" [value]="1">
                        1 (Alarm In Arm Mode)
                      </mat-radio-button>

                      <mat-radio-button class="example-radio-button" [value]="2">
                        2 (Alarm In Arm & Disarm Mode)
                      </mat-radio-button>
                    </mat-radio-group>
                </div>
                 
              </div>
              </div>

              <div class="example-large-box mat-elevation-z4" *ngFor="let s of tempsensor">
                <div class="row">
                  <div class="col-sm-3">
                    <p>
                      <mat-checkbox class="example-margin" [(ngModel)]="s.default_state"> Enable Temp {{s.port_number}} </mat-checkbox>
                    </p>
                  </div>

                  <div class="col-sm-2">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Sensor Name</mat-label>
                        <input matInput [(ngModel)]="s.sensor_name" name="sname" placeholder="Sensor Name">
                        <mat-hint>Sensor Name</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>

                  <div class="col-sm-2">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Sensor Type</mat-label>
                        <input matInput [(ngModel)]="s.sensor_type" name="sensor_type" placeholder="Sensor Type" disabled>
                        <mat-hint>Sensor Type</mat-hint>
                      </mat-form-field>
                    </p>
                   

                </div>


                  <div class="col-sm-2">
                    <p>
                      <mat-form-field appearance="outline">
                        <mat-label>Room Name</mat-label>
                        <input matInput [(ngModel)]="s.room_name" name="room" placeholder="Room Name">
                        <mat-hint>Room Name</mat-hint>
                      </mat-form-field>
                    </p>
                  </div>

                 
              </div>
              </div>
            
                    

                    <button type="button" class="btn btn-primary" (click)="submit_port()" style="float: right;">Next</button>
  
                


              
                

             
              
        </div>
  
    </div>
    
  </div>
  
  
  
  