<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="sub-heading">
         
        <h3>Add Energy Meter</h3>
        <hr>
     </div>
    </div>
  </div>
  
  <mat-tab-group dynamicHeight [selectedIndex]="selectedIndex" class="p-2" >
   

    <mat-tab label="MODBUS Properties">
      
        <div class="w-100 flex-column">
          <form  [formGroup]="formGroup1">
  
          <div class="row my-2" >
            <div class="col-md-4">
  
              <mat-form-field appearance="outline">
                <mat-label>Mac Address</mat-label>
                <input matInput [(ngModel)]="mac" name="mac" (keyup)="formatMAC(mac)" placeholder="(00:00:00:00:00:00)" required formControlName="mac">
                <mat-error *ngIf="formGroup1.get('mac').hasError('required')">
                  Mac Addres is Required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
  
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="name" name="name" placeholder="Name" required formControlName="name">
                <mat-error *ngIf="formGroup1.get('name').hasError('required')">
                  Name is Required!
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                  <mat-label>Select Version</mat-label>
                  <mat-select placeholder="version" [(ngModel)]="version" name="version" required formControlName="version">
                    <mat-option  value="1" >Version 1</mat-option>
                    <mat-option  value="2" >Version 2</mat-option>
                
                  </mat-select>

                  <mat-error *ngIf="formGroup1.get('version').hasError('required')">
                    Version is Required!
                  </mat-error>
              </mat-form-field>
  
            </div>
            
            
            </div>
           <div class="row my-2 text-center">
            <div class="col-sm-6">
                <p>NCNO Ports</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <mat-form-field appearance="outline">
                              <mat-label>No.</mat-label>
                              <input type="number" matInput  [(ngModel)]="ncnono1" name="ncnono1" placeholder="1" required formControlName="ncnono1">
                              <mat-error *ngIf="formGroup1.get('ncnono1').hasError('required')">
                                No. is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput [(ngModel)]="ncnoname1" name="ncnoname1" placeholder="1" required formControlName="ncnoname1">
                              <mat-error *ngIf="formGroup1.get('ncnoname1').hasError('required')">
                                Name is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Default Value</mat-label>
                              <input type="number" matInput [(ngModel)]="ncnodefault1" name="ncnodefault1" placeholder="1" required formControlName="ncnodefault1">
                              <mat-error *ngIf="formGroup1.get('ncnodefault1').hasError('required')">
                                Default Value is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <mat-form-field appearance="outline">
                              <mat-label>No.</mat-label>
                              <input matInput type="number" [(ngModel)]="ncnono2" name="ncnono2" placeholder="2" required formControlName="ncnono2">
                              <mat-error *ngIf="formGroup1.get('ncnono2').hasError('required')">
                                No. is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput [(ngModel)]="ncnoname2" name="ncnoname2" placeholder="2" required formControlName="ncnoname2">
                              <mat-error *ngIf="formGroup1.get('ncnoname2').hasError('required')">
                               Name is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Default Value</mat-label>
                              <input matInput type="number" [(ngModel)]="ncnodefault2" name="ncnodefault2" placeholder="1" required formControlName="ncnodefault2">
                              <mat-error *ngIf="formGroup1.get('ncnodefault2').hasError('required')">
                                Default Value is Required!
                               </mat-error>
                            </mat-form-field>
                          </p>
                    </div>
                </div>
  
            </div>
  
            <div class="col-sm-6">
                <p>Temprature Ports</p>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <mat-form-field appearance="outline">
                              <mat-label>No.</mat-label>
                              <input matInput type="number" [(ngModel)]="tempno1" name="tempno1" placeholder="1"  required formControlName="tempno1">
                              <mat-error *ngIf="formGroup1.get('tempno1').hasError('required')">
                                No. is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput [(ngModel)]="tempname1" name="tempname1" placeholder="1"  required formControlName="tempname1">
                              <mat-error *ngIf="formGroup1.get('tempname1').hasError('required')">
                                Name is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Default Value</mat-label>
                              <input matInput  [(ngModel)]="tempdefault1" name="tempdefault1" placeholder="1"  required formControlName="tempdefault1">
                              <mat-error *ngIf="formGroup1.get('tempdefault1').hasError('required')">
                                Default Value is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                    </div>
                    <div class="col-sm-6">
                        <p>
                            <mat-form-field appearance="outline">
                              <mat-label>No.</mat-label>
                              <input matInput type="number" [(ngModel)]="tempno2" name="tempno2" placeholder="2"  required formControlName="tempno2">
                              <mat-error *ngIf="formGroup1.get('tempno2').hasError('required')">
                                No. is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Name</mat-label>
                              <input matInput [(ngModel)]="tempname2" name="tempname2" placeholder="2"  required formControlName="tempname2">
                              <mat-error *ngIf="formGroup1.get('tempname2').hasError('required')">
                                Name is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                          <p>
                            <mat-form-field appearance="outline">
                              <mat-label>Default Value</mat-label>
                              <input matInput [(ngModel)]="tempdefault2" name="tempdefault2" placeholder="1"  required formControlName="tempdefault2">
                              <mat-error *ngIf="formGroup1.get('tempdefault2').hasError('required')">
                                Default Value is Required!
                              </mat-error>
                            </mat-form-field>
                          </p>
  
                    </div>
                </div>
  
            </div>
        </div>
  
        <div class="row text-center">
  
               <div class="col-md-12">
                <p class="w-100">Relays</p>
               </div>
   
               <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>No.</mat-label>
                  <input matInput type="number" [(ngModel)]="relayno" name="relayno" placeholder="1" required formControlName="relayno" >
                  <mat-error *ngIf="formGroup1.get('relayno').hasError('required')">
                    No. Value is Required!
                   </mat-error>
                </mat-form-field>
               </div>

               <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="relayname" name="relayname" placeholder="" required formControlName="relayname">
                  <mat-error *ngIf="formGroup1.get('relayname').hasError('required')">
                    Name Value is Required!
                   </mat-error>
                </mat-form-field>
               </div>
               
  
        </div>

        </form>
        </div>
<br>
<br>
<br>

<div>
  <h2>Smart - Meter</h2>
</div>

<!-- ============================= -->
        <div class="w-100 flex-column">
          <div class="row">
            <div class="col-md-3">
             <mat-form-field appearance="outline" id="hub">
               <mat-label>Configration</mat-label>
               <mat-select placeholder="" [(ngModel)]="config"  name="config">
               
                 <mat-option  value="1"  >Single Phase</mat-option>
                 <mat-option  value="3" >Three Phase</mat-option>

               </mat-select>
             </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="version == 2">
             <mat-form-field appearance="outline">
               <mat-label>Meter Type</mat-label>
               <mat-select placeholder="metertype" [(ngModel)]="metertype" name="metertype">
                 <mat-option  value="EM368" >EM368</mat-option>
                 <mat-option  value="EM1320" >EM1320</mat-option>
             
               </mat-select>
           </mat-form-field>
            </div>
            <div class="col-md-3">
             <mat-form-field appearance="outline">
               <mat-label>Name</mat-label>
               <input matInput [(ngModel)]="sname" name="sname" placeholder="name">
               <!-- <mat-hint>Name</mat-hint> -->
             </mat-form-field>
            </div>
            <div class="col-md-3">
             <mat-form-field appearance="outline">
               <mat-label>Address No</mat-label>
               <input matInput [(ngModel)]="address" name="address" placeholder="Number">
               <!-- <mat-hint>Address No</mat-hint> -->
             </mat-form-field>
            </div>

          </div>
          
                    
               </div>
       
<!-- ============================= -->
        <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click)="submit_meter()" [disabled]="!formGroup1.valid" style="float: right;">Submit</button>

        </div>
      <!-- <button type="button" class="btn btn-primary" (click)="previousStep(1)" style="float: right;">Previous</button> -->

    </mat-tab>

    

  </mat-tab-group>
  
</div>
 
  
  
  