
<div class="row" >
    <div class="containt">
        <div class="sub-heading">
       
            <h3>Assign User</h3>
            <hr>
         </div>
  
         <div class="form_holder">
            <div class="row" style="margin: 0%;">
                <div class="col-sm-12" style="font-size: 80%;">
                       
                        <p>
                        
                            <mat-form-field appearance="outline" id="hub">
                              <mat-label>Configration</mat-label>
                              <mat-select placeholder="" [(ngModel)]="config"  name="config">
                              
                                <mat-option  value="1"  >Single Phase</mat-option>
                                <mat-option  value="3" >Three Phase</mat-option>

                              </mat-select>
                            </mat-form-field>
                          </p>
                          
                          

                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Name</mat-label>
                                  <input matInput [(ngModel)]="name" name="name" placeholder="name">
                                  <mat-hint>Name</mat-hint>
                                </mat-form-field>
                              </p>

                              <p>
                                <mat-form-field appearance="outline">
                                  <mat-label>Address No</mat-label>
                                  <input matInput [(ngModel)]="address" name="address" placeholder="Number">
                                  <mat-hint>Address No</mat-hint>
                                </mat-form-field>
                              </p>

                
                    
    
                        </div>
                      </div>

                         
                         

                          <button type="button" class="btn btn-primary" (click)="onsubmit()">Submit</button>
&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="button" class="btn btn-danger">Cancel</button>
                     
                </div>
            </div>
         </div>
      
           
       
           
       
    
  
  
  