<div class="mat-dialog-containerThree" >
      
    <div class="row modal-header"> 
       <h5 class="modal-title" id="exampleModalCenterTitle">Command Settings for smart meter</h5>
        <button (click)="onNoClick()" >close</button>
       
     </div>


         
           <div class="row">

            <div class="col-sm-3">
              <p>Meter Type</p> 
 
             </div>

            <div class="col-sm-6">

              <p>
               <mat-form-field appearance="outline">
                 <mat-label>Meter Type</mat-label>
                 <mat-select placeholder="metertype" [(ngModel)]="metertype" name="metertype">
                   <mat-option  value="EM368" >EM368</mat-option>
                   <mat-option *ngIf="data.v == 2" value="EM1320" >EM1320</mat-option>
                 </mat-select>
             </mat-form-field>
              </p>
             
              
         </div>
           </div>

           <div class="row">
               
            <div class="col-sm-3">
             <p>Set Address</p> 

            </div>
           
            <div class="col-sm-6">
              <p>
                <mat-form-field appearance="outline">
                  <input matInput  [(ngModel)]="setaddress" name="setaddress">
                </mat-form-field>
              </p>
                <button type="button" class="btn btn-primary" (click) = "sendMessage('changeaddress',setaddress,data.id)" >Submit</button>
            </div>

  
             
             
           </div>

          
           </div>
  
 